VITE_BASE_MEDIA_URL="https://storage.com/example/images"
VITE_SERVER_URL="http://localhost:5000/api"
VITE_APP_TITLE_PREFIX="LOCAL" # can be useful to clearly see that local or any other environment is open