.group {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding-right: 10px;
}

.group_header {
  display: flex;
  gap: 10px;
  align-items: center;
}

.title {
  font-weight: bold;
  text-transform: uppercase;
}

.options {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
