.row {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 10px;
  padding: 10px;
  border-bottom: var(--border-default);
}

.row:first-child {
  padding-top: 0;
}

.row:last-child {
  border-bottom: 0;
}

.title {
  font-size: var(--text-sm);
  font-weight: bold;
}

.description {
  color: var(--color-gray-dark);
  font-size: var(--text-xs);
}

.actions {
  display: flex;
  align-items: center;
  gap: 5px;
}
