.award_wrapper {
  flex-shrink: 0;
  width: 100%;
}

.award {
  display: flex;
  align-items: center;
  font-size: 14px;
  color: var(--color-orange-primary);
  gap: 10px;
  background-color: var(--color-yellow-extra-light);
  border: 1px solid var(--color-yellow-primary);
  padding: 10px;
  border-radius: 8px 8px 0 0;
}

.award_icon {
  width: 18px;
  height: 18px;
  flex-shrink: 0;
}

.nominations_wrapper {
  display: flex;
  flex-direction: column;
  font-size: 14px;
  gap: 10px;
  background-color: var(--color-white);
  padding: 10px;
  border-radius: 0 0 8px 8px;
  transition: opacity 300ms;
  border: 1px solid var(--color-yellow-primary);
  height: 150px;
  overflow-y: auto;
  margin-top: -1px;
}

@media (width <= 520px) {
  .nominations_wrapper {
    height: auto;
  }
}
