.posterWrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  aspect-ratio: 9 / 14;
  flex-shrink: 0;
}

.poster {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.trailerButton {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  color: #fff;
  background-color: #000;
  height: 50px;
  font-size: 18px;
}

.playIcon {
  width: 18px;
  height: 18px;
}

@media (max-width: 580px) {
  .posterWrapper {
    aspect-ratio: 4 / 6;
  }
}