.statisticItem {
  color: white;
  display: flex;
  align-items: center;
  gap: 10px;
  background-color: var(--stat-item-color);
  padding: 5px 15px;
  border-radius: 50px;
  flex-shrink: 0;
}

.icon {
  display: flex;
  align-items: center;
}

.icon svg {
  width: 20px;
  height: 20px;
}

.value {
  font-size: 12px;
  font-weight: bold;
}
