.header {
  --icon-size: 30px;

  position: sticky;
  top: 0;
  width: 100%;
  background-color: var(--color-white);
  height: var(--header-height);
  border-bottom: var(--border-default);
  z-index: 800;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 var(--padding-default);
  gap: 60px;
}

.logo_wrapper {
  font-size: 0;
}

.search_wrapper {
  max-width: 920px;
  width: 100%;
}

@media (max-width: 480px) {
  .search_wrapper:has(input:focus),
  .search_wrapper:has(input:not(:placeholder-shown)) {
    position: absolute;
    left: 0;
    top: 0;
    padding: 10px;
    background-color: white;
  }
}
