.header {
  --icon-size: 30px;

  position: sticky;
  top: 0;
  width: 100%;
  background-color: var(--color-white);
  height: var(--header-height);
  border-bottom: var(--border-default);
  z-index: 100;
}

.header_container {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 var(--padding-default);
  gap: 20px;
  height: 100%;
}

.logo_wrapper {
  display: flex;
  text-align: center;
}

.logo {
  width: var(--icon-size);
}

.left_column {
  display: flex;
  align-items: center;
  gap: 5px;
}

.menu_button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: var(--icon-size);
  height: var(--icon-size);
  border-radius: var(--rounded-default);
  border: 1px solid transparent;
  cursor: pointer;
}

.menu_button:focus-visible {
  outline: auto;
}

.menu_icon {
  pointer-events: none;
}

.search_wrapper {
  max-width: 920px;
  width: 100%;
}

@media (max-width: 480px) {
  .search_wrapper:has(input:focus) {
    position: absolute;
    left: 0;
    top: 0;
    padding: 10px;
    background-color: white;
  }
}
