.roleItem {
  display: flex;
  padding: 20px;
  border-bottom: var(--app-border);
}

.roleItem:last-child {
  border-bottom: 0;
}

.roleItemTitle {
  font-size: 14px;
  font-weight: normal;
  line-height: 1;
  text-transform: uppercase;
  width: 170px;
  flex-shrink: 0;
}

.actors {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.list {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
}

.list a {
  color: var(--blue-default);
  text-decoration: underline;
  transition: color 0.3s;
}

.list a:hover {
  color: var(--green);
}

.roleItemLink {
  line-height: 1;
}

.roleItem {
  display: flex;
  align-items: center;
  gap: 5px;
}

.personDetails {
  display: flex;
  gap: 5px;
}

.alignTop {
  align-items: flex-start;
}

.role {
  color: var(--purple-light);
}

.comment {
  color: #777;
  font-size: 14px;
}

@media (max-width: 540px) {
  .roleItem {
    flex-direction: column;
    gap: 8px;
    align-items: flex-start;
    padding: 15px;
  }

  .roleItemTitle {
    font-size: 12px;
  }

  .roleItemLink {
    font-size: 14px;
  }
}
