.navigation {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
}

.link {
  font-size: var(--text-sm);
  display: flex;
  align-items: center;
  gap: 5px;
  transition: color 200ms;
  line-height: 1;
}

.link:hover,
.active_link {
  color: var(--color-blue-primary);
}

.active_link {
  pointer-events: none;
  cursor: default;
}
