.about {
  padding: 20px ;
}

.content {
  max-width: 800px;
  line-height: 1.5;
}

.content h1 {
  color: var(--main-color);
  font-size: 28px;
  margin-bottom: 10px;
} 

.content h2 {
  color: var(--main-color);
  font-size: 18px;
  margin-bottom: 10px;
}

.content p {
  margin-bottom: 10px;
}

.content p:last-child {
  margin-bottom: 0;
}

.content a {
  text-decoration: underline;
}