.content {
  max-width: 1080px;
  margin: 0 auto;
  padding: var(--main-padding);
  line-height: 1.5;
}

.title {
  font-size: 40px;
  line-height: 1;
  margin-bottom: 20px;
}

.content h2 {
  color: var(--main-color);
  font-size: 18px;
  margin-bottom: 10px;
}

.content p {
  margin-bottom: 10px;
}

.content p:last-child {
  margin-bottom: 0;
}

.content a {
  text-decoration: underline;
}

.content .accent {
  background-color: var(--gray-light);
  padding: 20px;
  border-radius: 6px;
}
