.filmRow {
  padding: 10px;
  border-bottom: var(--app-border);
}

.filmRow:last-child {
  border-bottom: 0;
}

.filmRow:hover {
  background-color: var(--gray-extra-light);
}

.titleRow {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 10px;
}

.title {
  font-size: 18px;
  font-weight: bold;
  margin-right: auto;
}

.toolLink {
  display: flex;
  align-items: center;
  gap: 5px;
}

.toolLink:hover {
  color: var(--blue-default);
}

.tools {
  display: flex;
  flex-wrap: wrap;
  gap: 12px;
  justify-content: space-between;
}

.column {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 12px;
}
