.filmRow {
  display: flex;
  justify-content: space-between;
  gap: 40px;
  padding: 12px 10px;
  border-bottom: var(--app-border);
}

.filmRow:last-child {
  border-bottom: 0;
}

.filmRow:hover {
  background-color: var(--gray-light);
}

.filmRowDraft {
  background-color: var(--yellow-sand-light);
}

.filmRowDraft:hover {
  background-color: var(--yellow-sand);
}

.titleRow {
  display: flex;
  align-items: flex-start;
  gap: 10px;
}

.title {
  font-size: 16px;
  font-weight: bold;
}

.tools {
  display: flex;
  gap: 12px;
}

.tool {
  display: flex;
  align-items: center;
  gap: 5px;
}

.tool:hover {
  color: var(--blue-default);
}

.draftMark {
  font-size: 10px;
  text-transform: uppercase;
  border: 1px solid black;
  padding: 3px 10px;
  border-radius: 5px;
}
