.editor_wrapper {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.editor {
  border: var(--b-default);
  border-radius: var(--br-default);
  transition: border-color 300ms;
  padding: 10px;
  background-color: white;
  min-height: 200px;
  outline-color: var(--blue-default);
}

.editor:hover {
  border-color: black;
}

.editor ol,
.editor ul {
  margin-left: 30px;
}

.editor ul li {
  list-style-type: disc;
}

.editor ol li {
  list-style-type: decimal;
}

.editor blockquote {
  padding: 10px;
  background-color: var(--gray-light);
  border-radius: 5px;
}
