.play_button {
  position: relative;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  border-radius: var(--rounded-default);
  padding: 10px;
  transition: transform 200ms;
  width: var(--left-column-width);
}

.play_button:active {
  transform: scale(0.95);
}

.play_icon {
  fill: white;
  width: 20px;
  height: 20px;
}

.play_button_label {
  font-family: 'Roboto-Condensed';
  font-size: var(--text-base);
  text-transform: uppercase;
}

.trailers_modal {
  background-color: rgba(0, 0, 0, 0.7);
}

.trailers_modal_content {
  width: 80%;
}

.trailer_close_button {
  position: absolute;
  top: 0;
  right: 0;
  background-color: white;
  border-radius: 0 8px 0 8px;
  z-index: 3;
  width: 40px;
  height: 40px;
}

@media (width < 1360px) {
  .trailers_modal_content {
    width: 100%;
    border-radius: 0;
  }
}

@media (width < 725px) {
  .play_button {
    width: 100%;
  }
}
