.play_button {
  position: relative;
  color: var(--color-white);
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  background-color: var(--color-blue-primary);
  border-radius: var(--rounded-default);
  padding: 10px;
  transition: transform 200ms;
  width: 100%;
  width: 330px;
  margin: 0 auto;
}

.play_button:active {
  transform: scale(0.95);
}

.play_icon {
  position: absolute;
  left: 10px;
  fill: white;
  width: 20px;
  height: 20px;
}

.trailers_modal {
  background-color: rgba(0, 0, 0, 0.7);
}

.trailers_modal_content {
  width: 80%;
}

.trailer_close_button {
  position: absolute;
  top: -15px;
  right: 10px;
  background-color: white;
  border-radius: 50%;
  z-index: 3;
}

@media (width < 1360px) {
  .trailers_modal_content {
    width: 100%;
    border-radius: 0;
  }
}

@media (width < 768px) {
  .play_button {
    width: 100%;
  }
}
