.checkbox {
  display: flex;
  align-items: center;
  gap: 10px;
  cursor: pointer;
}
.checkbox input {
  display: none;
}
.icon_wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #c6c6c6;
  width: 22px;
  height: 22px;
  padding: 3px;
  background-color: white;
}
.icon {
  display: none;
}
.checkbox input[type='checkbox'] + .icon_wrapper {
  border-radius: 3px;
}
.checkbox input[type='radio'] + .icon_wrapper {
  border-radius: 50px;
}
.checkbox input:checked + .icon_wrapper {
  background-image: var(--blue-default);
  border-color: var(--blue-default);
}
.checkbox input:checked + .icon_wrapper .icon {
  display: block;
  color: #fff;
}
.title {
  display: flex;
  align-items: center;
  flex-grow: 1;
  gap: 10px;
  justify-content: space-between;
  font-size: 14px;
  user-select: none;
}
.checkbox:hover .title {
  color: var(--blue-default);
}
