.posters {
  position: relative;
  flex-shrink: 0;
  width: 300px;
  border-radius: var(--app-border-radius);
  overflow: hidden;
}

.track {
  display: flex;
  transition: transform 0.3s ease;
}

@media (max-width: 870px) {
  .posters {
    width: 200px;
  }
}

@media (max-width: 580px) {
  .posters {
    position: relative;
    top: 0;
    width: 100%;
  }
}