.dataLink {
  border-radius: 50px;
  padding: 5px 20px;
  background-color: var(--light-yellow);
  transition: background-color 0.3s;
}

.accent {
  background-color: var(--main-color);
  color: #fff;
}

.secondary {
  background-color: #f2f2f2; 
}