.wrapper {
  display: flex;
  flex-direction: column;
  gap: 5px;
  width: 100%;
}

.text_area {
  font-size: inherit;
  font-family: inherit;
  padding: 10px;
  border-radius: var(--rounded-default);
  border: var(--border-default);
  outline-color: var(--color-blue-primary);
  transition: border-color 300ms;
  resize: vertical;
}

.text_area:hover {
  border-color: var(--color-gray-dark);
}
