.moneyBlock {
  --main-color: var(--yellow-saturated);
  --bg-color: var(--yellow-sand-light);
  color: var(--main-color);
  display: flex;
  align-items: center;
  padding: 10px;
  border: 1px solid var(--main-color);
  background-color: var(--bg-color);
  width: 180px;
  gap: 10px;
  flex-shrink: 0;
  overflow: hidden;
}

.moneyBlock:first-child {
  border-top-left-radius: var(--app-border-radius);
  border-bottom-left-radius: var(--app-border-radius);
  border-right: 0;
}

.moneyBlock:last-child {
  border-top-right-radius: var(--app-border-radius);
  border-bottom-right-radius: var(--app-border-radius);
}

.beneficial {
  --main-color: var(--green-success);
  --bg-color: var(--green-success-light);
}

.notProfitable {
  --main-color: var(--red);
  --bg-color: var(--red-failure-light);
}

.icon {
  flex-shrink: 0;
}

.label {
  font-size: 11px;
  text-transform: uppercase;
  color: var(--main-color);
  margin-bottom: 3px;
}

.value {
  color: #000;
  font-weight: bold;
  white-space: nowrap;
}

@media (max-width: 480px) {
  .moneyBlock {
    width: 50%;
  }

  .label {
    font-size: 10px;
  }

  .value {
    font-size: 14px;
  }
}