.filmLink {
  position: relative;
  width: 100px;
  height: 150px;
  flex-shrink: 0;
  border-radius: 5px;
  border: var(--app-border);
  overflow: hidden;
}

.activeFilmLink {
  position: relative;
  pointer-events: none;
}

.activeFilmLink img {
  opacity: 0.5;
}

.chapterNumber {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 12px;
  font-weight: bold;
  background-color: #fff;
  box-shadow: 1px 1px 5px rgb(0 0 0 / 50%);
  width: 25px;
  height: 25px;
  border-radius: 0 0 4px 0;
}
