.description {
  line-height: 1.5;
  border: var(--app-border);
  padding: 20px;
  border-radius: 8px;
}

.description p {
  margin-bottom: 10px;
}

.description p:last-child {
  margin-bottom: 0;
}

@media (max-width: 480px) {
  .description {
    font-size: 14px;
  }
}
