.wrapper {
  position: relative;
  background-color: var(--color-white);
  border-radius: var(--rounded-default);
}

.select_button {
  position: relative;
  width: 100%;
  padding: 10px;
  border-radius: var(--rounded-default);
  border: var(--border-default);
  background-color: transparent;
  z-index: 2;
}

.select_button:focus {
  outline: 1px solid var(--color-blue-primary);
}

.select_button:disabled {
  user-select: none;
  pointer-events: none;
  cursor: default;
  background-color: var(--color-gray-light);
}

.select_button:hover {
  border-color: var(--color-gray-dark);
}

.icon {
  color: var(--color-gray-primary);
}

.select_button:hover .icon {
  color: var(--color-gray-dark);
}

.chevron {
  margin-left: auto;
  transition: transform 300ms;
}

.select_button_active .chevron {
  transform: rotate(-180deg);
}

.icons {
  display: flex;
  gap: 5px;
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  z-index: 10;
}

.displayed_value {
  position: absolute;
  top: 50%;
  left: 10px;
  transform: translateY(-50%);
  z-index: 1;
}

.select_button:not(:placeholder-shown) + .displayed_value {
  opacity: 0;
}

.select_button:read-only {
  cursor: pointer;
}
