.option {
  width: 100%;
  text-align: left;
  padding: 10px;
}

.option:first-child {
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}

.option:last-child {
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
}

.option:hover {
  background-color: var(--color-gray-light);
}

.option.active,
.option:focus {
  background-color: var(--color-blue-light);
}

.option.active:hover {
  background-color: var(--color-blue-invisible);
}
