.summary_layout {
  position: relative;
  display: flex;
  gap: 30px;
  padding: 20px;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: var(--rounded-default);
  overflow: hidden;
  z-index: 2;
}

.summary_layout::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  filter: blur(50px) brightness(0.4);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: var(--bg-url);
  z-index: -1;
}

.wrapper {
  display: flex;
  flex-direction: column;
  gap: 10px;
  flex-grow: 1;
}

.left_column {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 15px;
}

.info {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

@media (width < 1280px) {
  .summary_layout {
    border-radius: 0;
  }
}

@media (width < 920px) {
  .summary_layout {
    border-radius: 0;
    flex-direction: column;
    padding-top: 64px;
    margin-top: -64px;
  }
}
