.wrapper {
  display: flex;
  aspect-ratio: 16 / 9;
  overflow: hidden;
  border-radius: var(--br-default);
  background-color: black;
}

.video_column {
  flex-grow: 1;
}

.track {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 250px;
  flex-shrink: 0;
  padding: 20px;
  overflow-y: auto;
  scrollbar-width: none;
}

.trailer_button {
  --bg-opacity: 0.6;

  position: relative;
  width: 100%;
  height: 120px;
  border: 2px solid white;
  border-radius: var(--br-default);
  overflow: hidden;
  flex-shrink: 0;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.trailer_button::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, var(--bg-opacity));
  z-index: 1;
}

.trailer_button:hover {
  --bg-opacity: 0.9;
}

.active_trailer_button {
  --bg-opacity: 0.9;
  border-color: var(--blue-default);
  cursor: default;
}

.preview_title {
  color: white;
  position: absolute;
  z-index: 2;
  top: 10px;
  left: 10px;
  text-transform: uppercase;
  font-weight: bold;
  transform: translate(0, 0);
  transition: top 300ms, left 300ms, transform 300ms;
}

.play_icon {
  position: absolute;
  color: white;
  fill: white;
  width: 40px;
  height: 40px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  transition: opacity 200ms;
}

.active_trailer_button .play_icon {
  opacity: 0;
}

.active_trailer_button .preview_title {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@media (max-width: 920px) {
  .wrapper {
    flex-direction: column;
    aspect-ratio: 1;
  }

  .video_column {
    aspect-ratio: 16 / 9;
  }

  .track {
    width: 100%;
    flex-direction: row;
  }

  .trailer_button {
    width: 180px;
    height: 100px;
    flex-shrink: 0;
  }

  .preview_title {
    font-size: 14px;
  }

  .play_icon {
    width: 30px;
    height: 30px;
  }
}
