.diagram {
  width: 50%;
}

.track {
  position: relative;
  width: 100%;
  height: 10px;
  background-color: #ddd;
  border-radius: 50px;
}

.value {
  position: absolute;
  height: 100%;
  border-radius: 50px;
}

.value.high {
  background-color: #4db6ac;
}

.value.low {
  background-color: #d32f2f;
}

.value span {
  position: absolute;
  right: -15px;
  top: 12px;
  display: block;
  font-size: 14px;
  background-color: #fff;
}

.range {
  display: flex;
  justify-content: space-between;
  position: absolute;
  width: calc(100% + 10px);
  top: 12px;
  color: #777;
  font-size: 14px;
}

@media (max-width: 950px) {
  .diagram {
    width: 100%;
  }
}