.money-diagram {
  width: 50%;
}

.money-diagram__track {
  position: relative;
  width: 100%;
  height: 10px;
  background-color: #ddd;
  border-radius: 50px;
}

.money-diagram__track-value {
  position: absolute;
  height: 100%;
  border-radius: 50px;
}

.money-diagram__track-value.box-office-high {
  background-color: #4db6ac;
}

.money-diagram__track-value.box-office-low {
  background-color: #d32f2f;
}

.money-diagram__track-value span {
  position: absolute;
  right: -20px;
  top: 12px;
  font-size: 14px;
}

.money-diagram__range {
  display: flex;
  justify-content: space-between;
  position: absolute;
  width: 100%;
  top: 12px;
  color: #777;
  font-size: 14px;
}