.wrapper {
  display: flex;
  align-items: flex-start;
  gap: 15px;
  padding: 15px;
  border: var(--border);
  border-radous: var(--border-radius);
  background-color: white;
}

.inputs {
  display: flex;
  flex-direction: column;
  gap: 15px;
  flex-grow: 1;
}
