.wrapper {
  display: flex;
  align-items: flex-start;
  gap: 15px;
  padding: 15px;
  border: var(--b-default);
  border-radius: var(--br-default);
  background-color: white;
}

.inputs {
  display: flex;
  flex-direction: column;
  gap: 15px;
  flex-grow: 1;
}
