.row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 14px;
  border-bottom: var(--border-default);
}

.row:last-child {
  border-bottom: 0;
}

.left {
  display: flex;
  align-items: center;
  gap: 20px;
}
