.nominations_wrapper {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 20px;
  height: 100%;
  overflow: auto;
}

.title {
  font-size: var(--text-lg);
  font-weight: bold;
}

.nomination {
  display: flex;
  padding-right: 5px;
  gap: 5px;
}

.nomination::before {
  content: '—';
  color: var(--color-yellow-primary);
}

.nominee_link {
  font-size: var(--text-sm);
}
