.message {
  position: relative;
  border-radius: 6px;
  padding: 15px 60px 15px 20px;
  background-color: var(--color-gray-light);
  cursor: pointer;
  animation-name: slide;
  animation-duration: 500ms;
  width: 100%;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
}

.error_message {
  color: white;
  background-color: var(--color-red-primary);
}

.success_message {
  color: white;
  background-color: var(--color-green-primary);
}

.info_message {
  background-color: var(--color-purple-light);
}

.warning_message {
  background-color: var(--color-yellow-light);
}

.body {
  display: flex;
  align-items: flex-start;
  gap: 15px;
}

.text {
  margin-top: 2px;
}

.type_icon {
  font-size: 0;
}

.warning_message .type_icon {
  color: var(--color-yellow-primary);
}

.info_message .type_icon {
  color: var(--color-purple-primary);
}

.close_icon {
  position: absolute;
  top: 10px;
  right: 10px;
}

@keyframes slide {
  0% {
    transform: translateX(120%);
  }

  50% {
    transform: translateX(-10%);
  }

  100% {
    transform: translateX(0);
  }
}
