.description {
  background-color: #f7f7f7;
  border-radius: var(--app-border-radius);
}

.title {
  font-size: 16px;
  padding: 20px;
  border-bottom: var(--app-border);
  text-transform: uppercase;
}

.text {
  padding: 20px;
  line-height: 1.5;
}

.episodesCount {
  border-top: var(--app-border);
  padding: 20px;
}

.episodesCount b {
  color: var(--main-color);
}