.description {
  background-color: #f2f2f2;
  border-radius: var(--app-border-radius);
}

.header {
  font-size: 18px;
  padding: 20px;
  border-bottom: var(--app-border);
}

.content {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 20px;
  max-height: 300px;
  overflow: auto;
}

.section {
  padding-bottom: 20px;
  border-bottom: var(--app-border);
}

.section:last-child {
  padding-bottom: 0;
  border: none;
}

.section h3 {
  color: var(--main-color);
  font-size: 16px;
  margin-bottom: 5px;
}

.section p {
  line-height: 1.5;
}