.input_wrapper {
  display: flex;
  flex-direction: column;
  gap: 5px;
  width: 100%;
}

.field_wrapper {
  position: relative;
}

.text_input {
  width: 100%;
  padding: 10px;
  border-radius: var(--rounded-default);
  border: var(--border-default);
  outline-color: var(--color-blue-primary);
  transition: border-color 300ms;
  background-color: white;
}

.text_input:hover {
  border-color: var(--color-gray-dark);
}

.text_input.with_icon {
  padding-right: 50px;
}

.field_wrapper {
  position: relative;
}

.text_input.with_icon {
  padding-right: 50px;
}
