.link {
  position: relative;
  display: block;
  padding: 6px 15px;
  border-radius: 4px;
  border: 1px solid transparent;
  transition: border-color 0.3s;
}

.blue {
  color: #fff;
  background-color: var(--blue-default);
}

.sand {
  background-color: var(--yellow-sand);
}

.gray {
  background-color: var(--gray-light);
}

.pink {
  background-color: var(--pink-light);
}

.mint {
  background-color: var(--green-mint);
}

.purple {
  background-color: var(--purple-light);
}

.red {
  color: white;
  background-color: var(--red);
}

.green {
  color: white;
  background-color: var(--green-dark);
}

@media (max-width: 480px) {
  .link {
    font-size: 12px;
  }
}
