.property-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 10px 20px;
  transition: background-color 0.3s;
  border-radius: 8px;
}

.property-header:hover {
  background-color: #f2f2f2;
}

.property-header__title {
  font-size: 18px;
  display: flex;
  gap: 5px;
  font-family: monospace;
}

.property-header__types {
  display: flex;
  gap: 10px;
}

.property-header__right {
  display: flex;
  align-items: center;
  gap: 5px;
}

.property-header__expander {
  width: 20px;
  height: 20px;
  margin-left: 10px;
  transform: rotate(-90deg);
  transition: transform 0.3s;
}

.property-header--expanded .property-header__expander {
  transform: rotate(0);
}

@media (max-width: 435px) {
  .property-header {
    flex-direction: column;
    align-items: center;
    gap: 10px;
  }

  .property-header__expander {
    transform: rotate(0);
    margin-left: 0;
  }
  
  .property-header--expanded .property-header__expander {
    transform: rotate(-180deg);
  }
}