.stats {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 5px;
  top: 5px;
  right: 0;
}

.rating {
  display: flex;
  gap: 5px;
}

.star {
  width: 28px;
  height: 28px;
  fill: var(--color-yellow-light);
  stroke: var(--color-yellow-light);
  opacity: 0.7;
}

.filled_star {
  fill: var(--color-yellow-primary);
  stroke: var(--color-yellow-primary);
  opacity: 1;
}

.watchcount {
  display: flex;
  align-items: center;
  gap: 10px;
  color: var(--color-white);
  font-weight: bold;
  line-height: 28px;
}
