.title {
  font-size: 18px;
  line-height: 28px;
  font-weight: normal;
}

.description {
  color: var(--color-gray-dark);
  font-size: 14px;
}

.buttons {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin-top: 15px;
  gap: 10px;
}

.buttons:not(:last-child) {
  margin-bottom: 10px;
}
