.titleRow {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 40px;
}

.stats {
  display: flex;
  gap: 10px;
}

.trailerButton {
  color: var(--blue-default);
  background-color: var(--blue-default);
  border-radius: 50px;
  padding: 5px 15px;
}

.playIcon {
  fill: white;
}

@media (max-width: 680px) {
  .titleRow {
    flex-direction: column;
    gap: 10px;
  }
}
