.titleRow {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 40px;
}

.stats {
  display: flex;
  gap: 10px;
}

@media (max-width: 680px) {
  .titleRow {
    flex-direction: column;
    gap: 10px;
  }
}
