.seasonsRow {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 10px;
}

.seasonSelect {
  padding: 6px 10px;
  border-radius: 4px;
  background-color: transparent;
  cursor: pointer;
  appearance: none;
  height: 30px;
}

.seasonSelect:disabled {
  cursor: default;
}

.dataRow {
  display: flex;
  color: var(--blue-light);
  border: 1px solid var(--blue-light);
  padding: 6px 12px;
  border-radius: 4px;
}

.dataRowLabel {
  margin-right: 5px;
  font-weight: bold;
}
