.header {
  --icon-size: 30px;

  position: sticky;
  top: 0;
  width: 100%;
  height: var(--header-height);
  border-bottom: var(--app-border);
  background-color: #fff;
  z-index: 100;
}

.headerContainer {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
  height: 100%;
}

.logoWrapper {
  display: block;
  text-align: center;
}

.logo {
  width: var(--icon-size);
}

.menuWrapper {
  display: flex;
  gap: 10px;
}

.menuButton {
  display: flex;
  justify-content: center;
  align-items: center;
  width: var(--icon-size);
  height: var(--icon-size);
  border-radius: var(--app-border-radius);
  border: 1px solid transparent;
}

.menuButton:focus-visible {
  outline: auto;
}

.menuIcon {
  pointer-events: none;
}

.menuWrapper {
  display: flex;
  flex-direction: column;
  gap: 3px;
  padding: 10px;
}

.menuLink {
  padding: 6px 10px;
  border-radius: 4px;
  transition: background-color 0.3s ease;
}

.menuLink:focus-visible {
  outline-style: dashed;
  outline-color: var(--main-color);
}

.menuLink:hover {
  background-color: var(--gray-light);
}

.activeLink {
  color: #fff;
  background-color: var(--main-color);
  pointer-events: none;
}