.wrapper {
  display: flex;
  flex-direction: column;
  gap: 5px;
  width: 300px;
}

.main {
  display: flex;
  flex-direction: column;
  gap: 10px;
  border: var(--border);
  border-radius: 10px;
  padding: 20px;
}

.grid {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
}

.date {
  aspect-ratio: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
}

.date:hover {
  background-color: var(--gray-light);
}

.selected,
.selected:hover {
  color: white;
  background-color: var(--blue-default);
  cursor: default;
  pointer-events: none;
}
