.sortingButton {
  display: flex;
  align-items: center;
  gap: 5px;
  background-color: #fff;
  border: var(--app-border);
  width: 100%;
  transition: background-color 300ms;
}

.sortingButton:hover {
  background-color: var(--gray-ultra-light);
}

.sortingButton.small {
  padding: 5px 10px;
  border-radius: 6px;
}

.sortingButton.large {
  padding: 10px;
  border-radius: 8px;
}

.sortingButton.large .label {
  font-size: 16px;
}

.sortingButton.small .label {
  font-size: 14px;
}
