.films {
  display: flex;
  flex-direction: column;
  gap: 5px;
  margin-top: 20px;
}

.chapter_section {
  display: flex;
  gap: 20px;
}

.chapter_key {
  display: flex;
  gap: 10px;
}

.film {
  display: block;
  width: 120px;
  height: 180px;
  overflow: hidden;
  border-radius: var(--rounded-default);
}

.film:has(input:checked),
.selected_film {
  box-shadow: 0 0 0 5px var(--color-yellow-primary);
}

.position_select {
  font-size: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  background-color: var(--color-gray-primary);
}

.position_select input {
  display: none;
}
