.films {
  display: flex;
  flex-direction: column;
  gap: 5px;
  margin-top: 20px;
}

.chapter_key {
  display: flex;
  gap: 10px;
}

.film_select {
  width: 120px;
  height: 180px;
  overflow: hidden;
  border-radius: var(--rounded-default);
  cursor: pointer;
}

.film_select input {
  display: none;
}

.film_select:has(input:checked) {
  box-shadow: 0 0 0 5px var(--color-yellow-primary);
}

.empty_film {
  background-color: var(--color-gray-primary);
}
