.button {
  display: flex;
  gap: 5px;
  justify-content: center;
  align-items: center;
  color: #fff;
  padding: 10px;
  border-radius: 50px;
  transition: background-color 0.3s, color 0.2s;
  flex-shrink: 0;
}
.button[disabled] {
  cursor: default;
  background-color: #ddd;
}
.button-primary {
  background-color: var(--main-color);
}
.button-secondary {
  color: #222;
  background-color: #ddd;
}
.button-ghost {
  color: #222;
  background-color: transparent;
}
.button-active {
  background-color: var(--main-color);
}
.button-hidden {
  display: none;
  visibility: hidden;
}
.button-icon {
  width: 20px;
  height: 20px;
}
@media (hover: hover) {
  .button:hover {
    background-color: var(--green);
  }
  
  .button-active:hover {
    background-color: var(--main-color);
  }
}
@media (max-width: 735px) {
  .button-hidden {
    display: flex;
    visibility: visible;
  }
}