.button {
  display: flex;
  gap: 5px;
  justify-content: center;
  align-items: center;
  color: #fff;
  padding: 10px;
  border-radius: var(--app-border-radius);
  transition: background-color 0.3s, color 0.2s;
  flex-shrink: 0;
}

.primary {
  background-color: var(--main-color);
}

.secondary {
  color: #222;
  background-color: #ddd;
}

.ghost {
  color: #222;
  background-color: transparent;
  border-radius: 0;
}

.active {
  background-color: var(--main-color);
}

.hidden {
  display: none;
  visibility: hidden;
}

.icon {
  width: 20px;
  height: 20px;
}

.button[disabled] {
  cursor: default;
  background-color: #ddd;
}

.button[disabled]:hover {
  background-color: #ddd;
}

@media (hover: hover) {
  .button:hover {
    background-color: var(--green);
  }
  
  .active:hover {
    background-color: var(--main-color);
  }

  .ghost:hover {
    background-color: currentColor;
  }
}
@media (max-width: 735px) {
  .hidden {
    display: flex;
    visibility: visible;
  }
}