.pendingFilmRow {
  display: flex;
  align-items: center;
  gap: 20px;
  width: 100%;
  padding: 10px;
  border-bottom: var(--app-border);
}

.pendingFilmRow:last-child {
  border-bottom: 0;
}

.leftColumn {
  display: flex;
  align-items: center;
  gap: 20px;
  flex-grow: 1;
}

.priorityBadge {
  flex-shrink: 0;
}

.pendingFilmTitle {
  font-size: 18px;
}

.createFilmButton {
  display: flex;
  color: var(--blue-default);
}

.rightColumn {
  display: flex;
  align-items: center;
}

.rowTools {
  display: flex;
  align-items: center;
  gap: 10px;
  border-left: var(--app-border);
  margin-left: 20px;
  padding-left: 20px;
}

.toolButton {
  display: flex;
}

.toolButton:disabled {
  cursor: default;
  opacity: 0.5;
}

@media (max-width: 480px) {
  .pendingFilmRow {
    gap: 12px;
  }

  .leftColumn {
    gap: 12px;
  }

  .pendingFilmTitle {
    font-size: 14px;
  }

  .rowTools {
    margin-left: 10px;
    padding-left: 10px;
  }
}
