.menu {
  position: absolute;
  top: calc(100% + 20px);
  right: 20px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 5px 1px 10px rgba(0, 0, 0, 0.2);
  z-index: 100;
  padding: 20px;
  opacity: 0;
  visibility: hidden;
  transform: translateY(-20px);
  transition: transform 0.3s, opacity 0.1s;
  overflow-y: auto;
  border: var(--app-border);
}

.menu--active {
  opacity: 1;
  transform: translateY(0);
  visibility: visible;
}

.menu__action {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 10px;
  z-index: 2;
}

.menu__action::after {
  content: '';
  width: calc(100% + 10px);
  height: calc(100% + 10px);
  position: absolute;
  top: -5px;
  left: -5px;
  background-color: #f2f2f2;
  border-radius: 10px;
  z-index: -1;
  transform: scale(0);
  transition: transform 0.2s ease;
  transform-origin: bottom;
}

.menu__action:hover::after {
  transform: scale(1);
}

.menu__action-icon {
  width: 50px;
  height: 50px;
}

.menu__action-icon svg {
  fill: var(--main-color);
}