.wrapper {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.award {
  display: flex;
  gap: 20px;
  padding-bottom: 20px;
  border-bottom: 1px solid var(--gray);
}

.award:last-child {
  padding-bottom: 0;
  border-bottom: 0;
}

.rightColumn {
  flex-grow: 1;
  width: 100%;
}

.title {
  display: inline-block;
  color: var(--yellow-gold);
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 10px;
}

.awardIcon {
  width: 100px;
  height: 100px;
}

.nominations {
  gap: 10px;
}

@media (max-width: 480px) {
  .title {
    text-align: center;
    width: 100%;
  }
  .award {
    flex-direction: column;
    gap: 0;
    align-items: center;
  }
}