.nomination {
  display: flex;
  gap: 10px;
  margin-bottom: 10px;
}

.nomination:last-child {
  margin-bottom: 0 ;
}

.nomination::before {
  content: '—';
  color: var(--yellow-gold);
}

.title {
  font-size: 14px;
  font-weight: normal;
}

.actorLink {
  font-size: 12px;
}

.comment {
  color: var(--gray-dark);
  font-size: 12px;
}