.people {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.row {
  display: flex;
  align-items: flex-start;
  gap: 10px;
  padding-top: 10px;
  border-top: var(--border-default);
}

.left_column {
  display: flex;
  gap: 15px;
  flex-direction: column;
  flex-grow: 1;
}
