.formSection {
  display: flex;
  flex-direction: column;
  gap: 20px;
  border: var(--border);
  background-color: var(--gray-invisible);
  padding: 20px;
  border-radous: var(--border-radius);
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}

.toggleButton {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 20px;
  height: 20px;
}

.toggleButton:hover {
  color: var(--blue-default);
}

.hiddenContent {
  display: none;
}
