.property-content {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.property-content__possible-values {
  display: flex;
  align-items: center;
  gap: 5px;
}

.property-content__possible-values-list {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.property-content__possible-values-list span {
  background-color: #f2f2f2;
  padding: 2px 15px;
  border-radius: 50px;
}

.property-content__examples-wrapper {
  color: #fff;
  background-color: #37474F;
  border-radius: 8px;
  padding: 20px;
}

@media (max-width: 435px) {
  .property-content__possible-values {
    flex-direction: column;
    align-items: flex-start;
  }
}