.film {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
  padding: 10px;
  border-bottom: var(--app-border);
}

.film:hover {
  background-color: var(--gray-extra-light);
}

.film:last-child {
  border-bottom: 0;
}

.title:hover {
  color: var(--blue-default);
  text-decoration: underline;
}

.tools {
  display: flex;
  align-items: center;
  gap: 20px;
}
