.films_section {
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 20px;
  overflow: hidden;
}

.pagination_wrapper {
  margin-top: auto;
}

.filter_wrapper {
  display: none;
}

@media (max-width: 785px) {
  .filter_wrapper {
    display: block;
    width: 100%;
  }

  .filter_wrapper button {
    width: 100%;
  }
}
