.filters {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 20px;
  height: 100%;
}

.wrapper {
  display: flex;
  flex-direction: column;
  gap: 20px;
  height: 100%;
  overflow-y: auto;
}

.controls {
  display: flex;
  width: 100%;
  gap: 10px;
}

.controls button {
  border-radius: 50px;
}

.apply {
  flex: 1;
}

.mobileHeader {
  display: none;
}

@media (max-width: 785px) {
  .mobileHeader {
    display: block;
    padding-bottom: 20px;
    border-bottom: var(--app-border);
    font-size: 16px;
    font-weight: normal;
    text-align: center;
  }
}