.filters {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 20px;
  height: 100%;
}

.wrapper {
  display: flex;
  flex-direction: column;
  gap: 20px;
  height: 100%;
  overflow-y: auto;
}

.controls {
  display: flex;
  width: 100%;
  gap: 10px;
}

.controls button {
  border-radius: 50px;
}

.apply {
  flex: 1;
}

@media (max-width: 785px) {
  .filters {
    position: absolute;
    background-color: #fff;
    width: 100%;
    height: 500px;
    bottom: 0;
    left: 0;
    transform: translateY(500px);
    transition: transform 0.2s;
  }

  .open {
    transform: translateY(0);
  }
}