.console_header {
  position: sticky;
  top: var(--header-height);
  display: flex;
  align-items: center;
  gap: 20px;
  padding: 0 20px;
  border-bottom: var(--b-default);
  background-color: white;
  height: var(--console-header-height);
  z-index: 5;
}

.menu_button {
  display: flex;
}

.menu_icon {
  color: var(--blue-default);
}

.menu_icon_collapsed {
  color: var(--black);
}

.console_header_title {
  font-size: 14px;
  color: var(--gray-dark);
  font-weight: bold;
  text-transform: uppercase;
}

.logout_button {
  margin-left: auto;
}

.logout_button:hover {
  color: var(--blue-default);
}

@media (max-width: 785px) {
  .console_header_title {
    font-size: 14px;
  }
}
