.info_block {
  position: relative;
  display: flex;
  gap: 20px;
  border: var(--border-default);
  border-radius: var(--rounded-default);
  padding: 15px 20px;
  background-color: var(--color-white);
}

.image {
  width: 80px;
  border-radius: 5px;
}

.data {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  gap: 5px;
}

.label {
  text-transform: uppercase;
  font-size: 12px;
  color: var(--color-gray-dark);
}

.title {
  color: var(--color-blue-primary);
  font-size: 25px;
  text-transform: capitalize;
  font-weight: bold;
}

.description {
  color: var(--color-black);
  font-size: 14px;
  line-height: 1.5;
}

.remove_button {
  position: absolute;
  top: 15px;
  right: 20px;
}

@media (max-width: 480px) {
  .title {
    font-size: 18px;
  }
}
