.wrapper {
  display: flex;
  gap: 20px;
  padding: 0 var(--main-padding);
}

.summary {
  display: flex;
  flex-direction: column;
  gap: 20px;
  flex-grow: 1;
}

.stats {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  margin-top: auto;
}

@media (max-width: 680px) {
  .wrapper {
    flex-direction: column;
    padding: 0;
  }

  .summary {
    padding: 0 var(--main-padding);
  }
}