.controls {
  position: absolute;
  display: flex;
  justify-content: space-between;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}

.slideControl {
  display: flex;
  align-items: center;
  font-size: 0;
  transition: background-color 0.3s;
}

.slideControl:hover {
  background-color: rgb(0 0 0 / 40%);
}

.arrow {
  width: 30px;
  fill: #fff;
}

.arrowLeft {
  transform: rotate(90deg);
}

.arrowRight {
  transform: rotate(-90deg);
}