.role_item {
  display: flex;
  padding: 20px;
  border-bottom: var(--border-default);
}

.role_item_default {
  align-items: flex-start;
}

.role_item_actor {
  align-items: center;
}

.role_item:last-child {
  border: 0;
}

.label {
  text-transform: uppercase;
  font-size: var(--text-sm);
  width: 170px;
  flex-shrink: 0;
}

.list_wrapper {
  display: flex;
}

.list_wrapper_default {
  flex-wrap: wrap;
  gap: 15px;
}

.list_wrapper_actor {
  flex-direction: column;
  gap: 10px;
}

.list_item {
  border: 0;
  display: flex;
  flex-direction: column;
}

.link_wrapper {
  display: flex;
  gap: 5px;
}

.person_small_text {
  font-size: var(--text-sm);
  color: var(--color-gray-dark);
}

.person_comment {
  color: var(--color-gray-dark);
}

@media (width < 480px) {
  .role_item_actor {
    align-items: flex-start;
  }

  .role_item {
    padding: 15px;
    flex-direction: column;
    gap: 10px;
  }

  .label {
    font-size: var(--text-xs);
  }
}
