.loader_container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.loader {
  animation: spin 1.5s linear infinite;
}

.default_color {
  color: var(--blue-default);
}

.full_page {
  height: var(--screen-height);
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}
