.rating {
  color: white;
  display: flex;
  align-items: center;
  gap: 10px;
  background-color: var(--yellow-saturated);
  padding: 5px 15px;
  border-radius: 5px;
  flex-shrink: 0;
}

.highestRating {
  background-color: var(--green-success);
}

.icon {
  display: flex;
  align-items: center;
}

.icon svg {
  width: 20px;
  height: 20px;
}

.value {
  font-weight: bold;
}

@media (max-width: 980px) {
  .rating {
    position: absolute;
    top: 64px;
    right: 20px;
  }
}

@media (max-width: 680px) {
  .rating {
    top: 74px;
    right: 30px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  }
}
