.wrapper {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.nomination_row {
  display: flex;
  gap: 20px;
  align-items: flex-start;
  background-color: var(--color-blue-invisible);
  padding: 10px;
  border-radius: 5px;
}

.selects {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 100%;
}
