.grid {
  --cols: 12;
  display: grid;
  grid-template-columns: repeat(var(--cols), 1fr);
  gap: 25px;
}

.film_link {
  position: relative;
  display: block;
  width: 100%;
}

.cover {
  position: relative;
  width: 100%;
  aspect-ratio: 10 / 16;
  border-radius: var(--rounded-default);
  overflow: hidden;
  background-color: #f2f2f2;
}

.cover img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.title {
  text-align: center;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  transition: color 0.3s;
  margin: 5px 0;
}

.film_link:hover .title {
  color: var(--color-blue-primary);
}

.year {
  text-align: center;
  font-size: 12px;
  color: #777;
}

@media (max-width: 1920px) {
  .grid {
    --cols: 8;
  }
}

@media (max-width: 1280px) {
  .grid {
    --cols: 6;
  }
}

@media (max-width: 960px) {
  .grid {
    --cols: 4;
  }
}

@media (max-width: 540px) {
  .grid {
    --cols: 3;
  }
}

@media (max-width: 400px) {
  .grid {
    gap: 15px;
  }
}
