.selectWrapper {
  display: flex;
  flex-direction: column;
  gap: 5px;
  width: 100%;
}

.notFoundOptions {
  color: var(--gray-dark);
  font-size: 14px;
  display: block;
  padding: 10px;
}

.selected {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
}

.dropdownContainer {
  max-height: 250px;
  overflow-x: auto;
  scrollbar-width: thin;
}
