.tabs {
  display: flex;
  flex-direction: column;
  gap: 20px;
  overflow-y: auto;
}

.controls {
  display: flex;
  width: 100%;
  overflow-x: auto;
  flex-shrink: 0;
}

.tab {
  width: 50%;
  border: 1px solid var(--main-color);
  border-right-width: 0;
  padding: 5px 10px;
}

.tab:first-child {
  border-radius: var(--app-border-radius) 0 0 var(--app-border-radius);
}

.tab:last-child {
  border-right-width: 1px;
  border-radius: 0 var(--app-border-radius) var(--app-border-radius) 0;
}

.active {
  background-color: var(--main-color);
  color: #fff;
}

.content {
  overflow-y: auto;
}