.item_row {
  border-bottom: var(--border-default);
  padding: 14px;
  transition: background-color var(--transition-timing);
}

.item_row:first-child {
  border-radius: var(--rounded-default) var(--rounded-default) 0 0;
}

.item_row:last-child {
  border: 0;
  border-radius: 0 0 var(--rounded-default) var(--rounded-default);
}

.item_row:hover {
  background-color: var(--color-gray-extra-light);
}

.item_row_content {
  display: flex;
  justify-content: space-between;
  gap: 15px;
}

.left_column {
  display: flex;
  align-items: center;
  gap: 15px;
}

.right_column {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 20px;
}

.description {
  font-size: var(--text-xs);
  color: var(--color-gray-dark);
  margin-top: 5px;
}
