.header {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid var(--color-orange-primary);
}

.stats {
  text-transform: uppercase;
  font-size: var(--text-xs);
}

.title {
  font-size: var(--text-lg);
  color: var(--color-orange-primary);
}

.num {
  font-family: 'Roboto-Condensed', sans-serif;
  font-size: var(--text-base);
}

.nominations {
  display: flex;
  flex-direction: column;
  gap: 5px;
  margin-top: 10px;
  font-size: var(--text-sm);
}

.nomination {
  display: flex;
  gap: 5px;
}
