.dataLink {
  border-radius: var(--app-border-radius);
  padding: 5px 15px;
  line-height: 1;
  transition: background-color 0.3s;
}

.main {
  background-color: var(--light-yellow);
}

.primary {
  background-color: var(--main-color);
  color: #fff;
}

.secondary {
  background-color: #daf4fc; 
}

.extra {
  background-color: #80deea;
}

.red {
  background-color: #ffcccc;
}