.wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(500px, 1fr));
  gap: 20px;
  padding: 20px;
}

.item {
  display: flex;
  gap: 10px;
  background-color: var(--color-white);
  padding: 20px;
  border-radius: var(--rounded-sm);
  box-shadow: var(--shadow-sm);
}

.image_wrapper {
  display: flex;
  max-width: 150px;
  width: 100%;
  border-radius: var(--rounded-sm);
  overflow: hidden;
  flex-shrink: 0;
}

.data {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.title {
  font-weight: bold;
  font-size: var(--text-xl);
  margin-bottom: 5px;
}

.authors {
  font-size: var(--text-sm);
  color: var(--color-red-primary);
}

.description {
  font-size: var(--text-sm);
  text-align: justify;
  margin-top: 10px;
  padding: 10px;
  background-color: var(--color-gray-extra-light);
  border-radius: 4px;
  flex-grow: 1;
}

.release_year {
  font-size: var(--text-sm);
}

@media (width <= 620px) {
  .wrapper {
    grid-template-columns: 1fr;
  }

  .item {
    flex-direction: column;
    width: auto;
  }
}
