.status {
  font-size: 10px;
  padding: 4px 10px;
  border-radius: 4px;
  border: 1px solid transparent;
  text-transform: uppercase;
  min-width: 60px;
  text-align: center;
  user-select: none;
}

.status.red {
  color: var(--red);
  background-color: var(--red-failure-light);
  border-color: var(--red);
}

.status.yellow {
  color: var(--orange);
  background-color: var(--yellow-sand-light);
  border-color: var(--yellow-saturated);
}

.status.gray {
  background-color: var(--gray);
  border-color: var(--gray-dark);
}

.status.green {
  color: white;
  background-color: var(--green-success);
  border-color: var(--green-dark);
}
