.wrapper {
  display: flex;
  align-items: center;
  gap: 5px;
  cursor: pointer;
}

.checkbox {
  display: none;
}

.toggle {
  position: relative;
  width: 40px;
  height: 21px;
  border: var(--border-default);
  background-color: var(--color-gray-primary);
  border-radius: 50px;
  overflow: hidden;
  flex-shrink: 0;
  transition: background-color 300ms;
}

.toggle::after {
  content: '';
  position: absolute;
  top: 1.7px;
  left: 2px;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: white;
  transition: transform 300ms;
}

.title {
  font-size: 14px;
  user-select: none;
}

.wrapper:hover .title {
  color: var(--color-blue-primary);
}

.checkbox:checked + .toggle {
  background-color: var(--color-blue-primary);
}

.checkbox:checked + .toggle::after {
  transform: translateX(18px);
}
