.filters {
  display: flex;
  flex-direction: column;
  height: 100%;
  overflow: hidden;
}

.filter_groups {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 20px;
  overflow-y: scroll;
}

.controls {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 10px;
  margin-top: auto;
  padding: 20px;
}

.header {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  padding: 10px 20px;
  border-bottom: var(--b-default);
  background-color: #f2f2f2;
  font-size: 16px;
  font-weight: normal;
  text-align: center;
}

.header_title {
  font-weight: bold;
  text-transform: uppercase;
}

.header_button {
  display: none;
}

@media (max-width: 785px) {
  .header_button {
    display: block;
    margin-left: auto;
  }
}
