.consoleLayout {
  --console-header-height: 40px;
}

.consolePage {
  display: flex;
  align-items: flex-start;
  background-color: var(--gray-extra-light);
}

.consoleWorkingArea {
  flex-grow: 1;
  padding: 20px;
}
