.wrapper {
  display: flex;
  flex-direction: column;
  gap: 10px;
  border-bottom: var(--border-default);
  padding: 10px 20px 20px;
  background-color: var(--color-white);
}

.row {
  display: flex;
  align-items: center;
  gap: 20px;
}

.image {
  width: 130px;
  aspect-ratio: 16 / 9;
  border-radius: var(--rounded-default);
  overflow: hidden;
}
