.top-line {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 10px;
}
.top-line__link {
  border-radius: 50px;
  padding: 5px 20px;
  background-color: #dedede;
}
.top-line__link:hover {
  color: #fff;
  background-color: var(--base-color);
}
.top-line__group {
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
}