.profile {
  flex-shrink: 0;
  width: 300px;
  border: var(--app-border);
  border-radius: var(--app-border-radius);
  overflow: hidden;
}

.name {
  color: var(--main-color);
  font-size: 30px;
  padding: 15px;
  background-color: #fafafa;
}

.row {
  border-bottom: var(--app-border);
  padding: 15px;
}

.row:last-child {
  border-bottom: 0;
}

.rowTitle {
  margin-bottom: 5px;
  line-height: 1;
}

.links {
  display: flex;
  gap: 5px;
  flex-wrap: wrap;
}