.profile {
  flex-shrink: 0;
  width: 300px;
  border: var(--app-border);
  border-radius: var(--app-border-radius);
  overflow: hidden;
}

.name {
  color: var(--main-color);
  font-size: 30px;
  padding: 15px;
  background-color: #fafafa;
}

@media (max-width: 960px) {
  .profile {
    width: 180px;
  }
}

@media (max-width: 760px) {
  .profile {
    width: 100%;
  }
}