.form {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.posterWrapper {
  width: 40%;
  flex-shrink: 0;
}

.revenue {
  display: flex;
  gap: 20px;
}

.buttons {
  display: flex;
  align-items: center;
  gap: 20px;
}

.resetButton {
  margin-left: auto;
}

@media (max-width: 480px) {
  .revenue {
    flex-direction: column;
  }
}
