.wrapper {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: var(--main-padding);
  min-height: var(--app-height);
  max-width: 1440px;
  width: 100%;
  margin: 0 auto;
}

.layout {
  --left-column: 300px;
  display: grid;
  grid-template-columns: var(--left-column) 1fr;
  gap: 20px;
}

.column {
  display: flex;
  flex-direction: column;
  gap: 20px;
  overflow: hidden;
}

@media (max-width: 985px) {
  .layout {
    --left-column: 200px;
  }
}

@media (max-width: 680px) {
  .layout {
    grid-template-columns: 1fr;
  }
}
