.wrapper {
  display: flex;
  flex-direction: column;
  gap: 40px;
  padding-top: var(--main-padding);
  padding-bottom: var(--main-padding);
  min-height: var(--app-height);
}

.layout {
  display: flex;
  align-items: flex-start;
  gap: 20px;
}

.loader {
  height: var(--app-height);
}

.general {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.content {
  display: flex;
  flex-direction: column;
  gap: 40px;
  overflow: hidden;
  width: 100%;
}

@media (max-width: 780px) {
  .wrapper {
    --media-column-width: 200px;
  }
}

@media (max-width: 580px) {
  .layout {
    flex-direction: column;
  }

  .content {
    gap: 20px;
  }
}