.film {
  display: flex;
  flex-direction: column;
  gap: 40px;
  padding-top: var(--main-padding);
  padding-bottom: 50px;
  min-height: var(--app-height);
}

.film__general {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

@media (max-width: 735px) {
  .film {
    padding-bottom: calc(var(--header-height) + 50px);
  }
}

@media (max-width: 500px) {
  .film {
    gap: 20px;
  }
}