.film {
  max-width: 1080px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 40px;
  padding: var(--main-padding);
  padding-bottom: 50px;
  min-height: var(--app-height);
}

.film__general {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.film__media {
  display: flex;
  width: 100%;
  aspect-ratio: 21 / 9;
  gap: 20px;
}