.details-property {
  width: 100%;
  border: 1px solid #000;
  border-radius: 8px;
}

.details-property__body {
  display: none;
  padding: 20px;
  border-top: 1px solid #000;
}

.details-property__body--expanded {
  display: block;
}

.details-property__nested {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-top: 20px;
}

.details-property__nested-wrapper {
  display: flex;
  flex-direction: column;
  gap: 10px;
}