.consoleLayout {
  --console-header-height: 55px;
  display: flex;
  align-items: flex-start;
  background-color: var(--gray-extra-light);
}

.consolePage {
  flex-grow: 1;
  min-height: var(--app-height);
}

.consoleWorkingArea {
  padding: 20px;
}
