.actor {
  flex-shrink: 0;
  width: 100%;
}

.imageWrapper {
  display: flex;
}

.image {
  border-radius: 8px;
}

.name {
  font-size: 18px;
  font-weight: bold;
  color: var(--blue-default);
  margin-top: 8px;
  margin-bottom: 3px;
}

.actor:hover .name {
  text-decoration: underline;
}

.role {
  font-size: 14px;
}

@media (max-width: 580px) {
  .name {
    font-size: 16px;
  }
}
