.checkbox {
  display: flex;
  align-items: center;
  gap: 10px;
  cursor: pointer;
}
.checkbox input {
  display: none;
}
.icon_wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid var(--checkbox-theme-border);
  width: 22px;
  height: 22px;
  padding: 3px;
  background-color: white;
}
.icon {
  display: none;
}
.checkbox input[type='checkbox'] + .icon_wrapper {
  border-radius: 3px;
}
.checkbox input[type='radio'] + .icon_wrapper {
  border-radius: 50px;
}
.checkbox input:checked + .icon_wrapper {
  background-color: var(--checkbox-theme-bg);
  border-color: var(--checkbox-theme-border);
}
.checkbox input:checked + .icon_wrapper .icon {
  display: block;
  color: var(--checkbox-theme-text, var(--color-black));
}
.title {
  display: flex;
  align-items: center;
  flex-grow: 1;
  gap: 10px;
  justify-content: space-between;
  font-size: 14px;
  user-select: none;
}
.checkbox:hover .title {
  color: var(--checkbox-theme-border);
}

.blueTheme {
  --checkbox-theme-bg: var(--color-blue-primary);
  --checkbox-theme-border: var(--color-blue-primary);
  --checkbox-theme-text: var(--color-white);
}

.redTheme {
  --checkbox-theme-bg: var(--color-red-primary);
  --checkbox-theme-border: var(--color-red-primary);
  --checkbox-theme-text: var(--color-white);
}

.yellowTheme {
  --checkbox-theme-bg: var(--color-yellow-primary);
  --checkbox-theme-border: var(--color-yellow-primary);
}

.grayTheme {
  --checkbox-theme-bg: var(--color-gray-primary);
  --checkbox-theme-border: var(--color-gray-primary);
}

.greenTheme {
  --checkbox-theme-bg: var(--color-green-dark);
  --checkbox-theme-border: var(--color-green-primary);
}
