.search {
  display: flex;
  flex-direction: column;
  gap: 5px;
  width: 100%;
}

.inputWrapper {
  position: relative;
}

.input {
  font-size: 14px;
  color: var(--blue-default);
  padding: 10px;
  width: 100%;
  padding-left: 40px;
  outline: none;
  border: var(--app-border);
  border-radius: var(--app-border-radius);
  background-color: var(--gray-light);
  transition: 0.2s;
}

.input:focus {
  border-color: var(--blue-default);
}

.searchIcon {
  color: var(--gray-dark);
  position: absolute;
  top: 50%;
  left: 10px;
  height: 20px;
  width: 20px;
  cursor: pointer;
  transition: 0.2s;
  transform: translateY(-50%);
}

.input:focus + .searchIcon {
  color: var(--blue-default);
}
