:root {
  --color-blue-primary: hsl(200, 100%, 40%);
  --color-blue-light: hsl(190, 80%, 90%);
  --color-blue-extra-light: hsl(200, 100%, 95%);
  --color-blue-invisible: hsl(220, 37%, 97%);
  --color-blue-dark: hsl(200, 100%, 30%);

  --color-green-primary: hsl(180, 100%, 40%);
  --color-green-dark: hsl(180, 100%, 20%);
  --color-green-invisible: hsl(180, 90%, 85%);

  --color-yellow-primary: hsl(40, 100%, 50%);
  --color-yellow-light: hsl(30, 100%, 90%);
  --color-yellow-extra-light: hsl(30, 100%, 95%);

  --color-orange-primary: hsl(20, 70%, 50%);
  --color-orange-light: hsl(38, 100%, 70%);

  --color-black: hsl(0, 0%, 14%);
  --color-white: hsl(0, 0%, 100%);

  --color-gray-primary: hsl(0, 0%, 80%);
  --color-gray-light: hsl(0, 0%, 95%);
  --color-gray-extra-light: hsl(0, 0%, 97%);
  --color-gray-invisible: hsl(0, 0%, 99%);
  --color-gray-dark: hsl(0, 0%, 50%);
  --color-gray-extra-dark: hsl(0, 0%, 20%);

  --color-red-primary: hsl(0, 60%, 50%);
  --color-red-light: hsl(0, 100%, 70%);
  --color-red-extra-light: hsl(0, 100%, 95%);

  --color-purple-primary: hsl(280, 30%, 50%);
  --color-purple-light: hsl(270, 60%, 80%);
  --color-purple-dark: hsl(270, 85%, 20%);

  --border-default: 1px solid var(--color-gray-primary);
  --rounded-default: 8px;
  --rounded-sm: 5px;
  --shadow-sm: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px, rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;

  --padding-default: 20px;
  --header-height: 60px;
  --screen-height: calc(100vh - var(--header-height));

  --transition-timing: 300ms;

  --text-xs: 0.75rem;
  --text-sm: 0.875rem;
  --text-base: 1rem;
  --text-lg: 1.125rem;
  --text-xl: 1.25rem;
  --text-2xl: 1.5rem;
  --text-3xl: 2rem;
}

@font-face {
  font-family: 'Roboto';
  src: url('/fonts/Roboto-Regular.woff2');
  font-weight: normal;
}

@font-face {
  font-family: 'Roboto';
  src: url('/fonts/Roboto-Bold.woff2');
  font-weight: bold;
}

@font-face {
  font-family: 'Roboto-Condensed';
  src: url('/fonts/Roboto-Condensed-Medium.woff2');
  font-weight: 500;
}

*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
  -webkit-tap-highlight-color: transparent;
}

li {
  list-style: none;
}

button {
  display: block;
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  border: none;
  background: none;
  cursor: pointer;
  outline: none;
  -webkit-tap-highlight-color: transparent;
}

input {
  color: inherit;
  font-size: inherit;
  font-family: inherit;
}

body {
  font-family: 'Roboto', sans-serif;
  overflow-y: scroll;
  position: relative;
  background-color: var(--color-blue-invisible);
}
