@import 'tailwindcss';

:root {
  --blue-default: #006db7;
  --blue-light: #e8f8fc;
  --blue-invisible: #c8f0fd;

  --green: #00b5c6;
  --green-success-light: #f2fffe;
  --green-success: #4db6ac;
  --green-mint: #c6f5ec;
  --green-dark: #028090;

  --yellow-gold: #ffbf00;
  --yellow-saturated: #ffb74d;
  --yellow-sand: #ffedd6;
  --yellow-sand-light: #fffbf5;

  --orange: #ff711f;

  --black: #232323;
  --white: #fff;

  --gray: #ddd;
  --gray-invisible: #fdfdfd;
  --gray-extra-light: #fbfbfb;
  --gray-light: #f2f2f2;
  --gray-dark: #777;
  --gray-extra-dark: #454545;

  --red: #d32f2f;
  --red-failure: #fe6c6c;
  --red-failure-light: #fff3f3;

  --pink-light: #ffece8;

  --purple-dark: #8f5bab;
  --purple-light: #dccbf2;

  --border: 1px solid var(--gray);
  --border-radius: var(--border-radius);
  --shadow-sm: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px, rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;

  --padding: 20px;
  --header-height: 60px;
  --screen-height: calc(100vh - var(--header-height));

  --t-timing: 300ms;

  --text-xs: 12px;
  --text-sm: 14px;
  --text-base: 16px;
  --text-lg: 18px;
  --text-xl: 20px;
  --text-2xl: 24px;
  --text-3xl: 30px;
}
