.selected-filters-list {
  display: flex;
  gap: 20px;
  padding: 20px;
  background-color: #fff;
}

.selected-filter {
  display: flex;
  gap: 10px;
  background-color: #f2f2f2;
  border-radius: 10px;
  padding: 10px;
}

.selected-filter span:first-child {
  font-weight: bold;
  text-transform: capitalize;
}