.wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
  padding: 0 20px;
}

.backLink {
  display: flex;
  align-items: center;
  gap: 5px;
}

.backLink:hover {
  color: var(--blue-default);
}
