.select {
  position: absolute;
  top: 20px;
  right: 20px;
  z-index: 100;
  max-width: 250px;
  width: 100%;
}

@media (max-width: 480px) {
  .select {
    position: sticky;
    top: var(--header-height);
    background-color: #fff;
    padding: 10px 0;
    max-width: 100%;
  }
}