.radioButton {
  display: none;
}

.label {
  display: block;
  border: var(--border);
  width: 100%;
  padding: 5px 10px;
  text-align: center;
  border-radius: 6px;
}

.radioButton:checked + .label {
  border-color: var(--blue-default);
  background-color: var(--blue-invisible);
}
