.radio_button {
  display: none;
}

.label {
  display: block;
  border: var(--b-default);
  width: 100%;
  padding: 5px 10px;
  text-align: center;
  border-radius: 6px;
}

.radio_button:checked + .label {
  border-color: var(--blue-default);
  background-color: var(--blue-invisible);
}
