.gridSection {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 100%;
  padding: var(--main-padding) 0 var(--main-padding) var(--main-padding);
}

.grid {
  --cols: 6;
  display: grid;
  grid-template-columns: repeat(var(--cols), 1fr);
  gap: 25px;
}

@media (max-width: 785px) {
  .grid {
    --cols: 4;
  }
}

@media (max-width: 540px) {
  .grid {
    --cols: 2;
  }
}

@media (max-width: 400px) {
  .grid {
    gap: 15px;
  }
}
@media (max-width: 340px) {
  .grid {
    --cols: 2;
  }
}