.menu {
  display: flex;
  flex-direction: column;
  background-color: #fff;
  width: 100%;
}

.link {
  display: flex;
  gap: 10px;
  align-items: center;
  padding: 10px;
  border-bottom: var(--b-default);
  user-select: none;
}

.link:not(.active_link):hover {
  background-color: var(--gray-light);
}

.active_link {
  color: #fff;
  background-color: var(--blue-default);
  pointer-events: none;
}

.standalone:last-child {
  border-bottom: 0;
}
