.section {
  display: flex;
  flex-direction: column;
  gap: 20px;
  border: var(--border);
  border-radous: var(--border-radius);
  overflow: hidden;
  padding: 20px;
  background-image: linear-gradient(45deg, var(--gray-invisible), transparent);
}

.header {
  font-size: 20px;
  font-weight: bold;
}
