.section {
  display: flex;
  flex-direction: column;
  gap: 20px;
  border: var(--border-default);
  border-radius: var(--rounded-default);
  overflow: hidden;
  padding: 20px;
  background-image: linear-gradient(45deg, var(--color-gray-invisible), transparent);
}

.header {
  font-size: 20px;
  font-weight: bold;
}
