.wrapper {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 10px;
  border: var(--app-border);
  border-radius: 12px;
}

.detailsRow {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
}

.descriptionRow {
  margin-top: 20px;
}
