.sortableItem {
  display: flex;
  gap: 10px;
  background-color: white;
  border-radous: var(--br-default);
  padding: 10px;
  border: var(--b-default);
}

.itemContent {
  flex-grow: 1;
}

.handler {
  flex-shrink: 0;
  color: var(--gray-dark);
  cursor: grab;
}

.handler:active {
  cursor: grabbing;
}
