.sortingPopupWrapper {
  padding: 15px;
}

.applyButton {
  font-size: 12px;
  font-weight: bold;
  text-transform: uppercase;
  color: white;
  background-color: var(--blue-default);
  width: 100%;
  padding: 8px 10px;
  border-radius: 5px;
  transition: background-color 300ms;
}

.applyButton:hover {
  background-color: var(--green);
}

.groupLabel {
  font-size: 14px;
  text-transform: uppercase;
  font-weight: bold;
  margin-bottom: 8px;
}

.options {
  font-size: 12px;
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin-bottom: 20px;
}
