.grid {
  --left-column: 300px;
  display: grid;
  grid-template-columns: var(--left-column) 1fr;
  align-items: start;
  gap: 20px;
}

@media (max-width: 985px) {
  .grid {
    --left-column: 200px;
  }
}

@media (max-width: 680px) {
  .grid {
    grid-template-columns: 1fr;
  }
}