.showPasswordButton {
  display: flex;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 15px;
}

.eyeIcon {
  transition: color 300ms;
}

.showPasswordButton:hover .eyeIcon {
  color: var(--blue-default);
}
