.displayValue {
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: #fff;
}

.absoluteValue {
  position: absolute;
  right: -20px;
  top: 12px;
  width: 40px;
}

.number {
  font-size: 14px;
}

.order {
  font-size: 12px;
}