.customScroll {
  scrollbar-width: thin;
  scrollbar-color: #dbdbdb;
}
.customScroll::-webkit-scrollbar {
  display: block;
  height: 8px;
  width: 4px;
  transition: 0.3s;
  border-radius: 50px;
}
.customScroll::-webkit-scrollbar-thumb {
  border-radius: 50px;
  transition: 0.3s;
}
.customScroll:hover::-webkit-scrollbar {
  background-color: #f2f2f2;
}
.customScroll:hover::-webkit-scrollbar-thumb {
  background-image: var(--main-gradient);
}

@media (max-width: 580px) {
  .customScroll {
    scrollbar-width: none;
  }
  
  .customScroll::-webkit-scrollbar {
    display: none;
  }
}