.series-media__controls {
  display: flex;
  gap: 10px;
  background-color: #fff;
  padding: 10px 0;
  z-index: 95;
  overflow-x: auto;
}

@media (max-width: 500px) {
  .series-media__controls {
    position: sticky;
    top: var(--header-height);
  }
}