.dates {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 28px;
}

.column {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.date_field {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 12px;
  height: 24px;
}
