.sorting_popup_wrapper {
  padding: 15px;
}

.apply_button {
  font-size: 12px;
  font-weight: bold;
  text-transform: uppercase;
  color: white;
  background-color: var(--color-blue-primary);
  width: 100%;
  padding: 8px 10px;
  border-radius: 5px;
  transition: background-color 300ms;
}

.apply_button:hover {
  background-color: var(--color-green-primary);
}

.group_label {
  font-size: 14px;
  text-transform: uppercase;
  font-weight: bold;
  margin-bottom: 8px;
}

.options {
  font-size: 12px;
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin-bottom: 20px;
}
