.links {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 15px;
}

.link {
  border-radius: 50px;
  padding: 5px 20px;
  background-color: var(--light-yellow);
  transition: background-color 0.3s;
}

.accent {
  background-color: var(--main-color);
  color: #fff;
}

.secondary {
  background-color: #f2f2f2; 
}

.group {
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
}

@media (max-width: 500px) {
  .links {
    gap: 10px;
    font-size: 14px;
  }
}