.link {
  display: inline-block;
  padding: 8px 15px;
  border-radius: 4px;
  border: 1px solid transparent;
  transition: border-color 0.3s;
}

.link:hover {
  border-color: #000;
}

.blue {
  color: #fff;
  background-color: var(--blue-default);
}

.sand {
  background-color: var(--yellow-sand);
}

.gray {
  background-color: var(--gray-light);
}