.season {
  flex-shrink: 0;
  border: var(--app-border);
  border-radius: 4px;
  overflow: hidden;
}

.title {
  border-bottom: var(--app-border);
  background-color: var(--gray-extra-light);
  text-transform: uppercase;
  font-size: 14px;
  font-weight: bold;
  padding: 10px;
}

.body {
  display: flex;
  flex-direction: column;
  gap: 5px;
  padding: 10px;
}

.data {
  font-size: 12px;
}

.data span {
  text-transform: uppercase;
  font-weight: bold;
  margin-right: 5px;
}

.trailer {
  padding: 0 8px 10px;
}

.seasonTrailerButton {
  color: var(--blue-default);
  font-size: 12px;
  text-transform: uppercase;
}
