.season {
  flex-shrink: 0;
  border: 1px solid var(--gray);
  border-radius: 4px;
  overflow: hidden;
}

.title {
  background-color: var(--gray-light);
  border-bottom: 1px solid var(--gray);
  text-transform: uppercase;
  font-size: 14px;
  font-weight: bold;
  padding: 10px;
}

.body {
  display: flex;
  flex-direction: column;
  gap: 5px;
  padding: 10px;
}

.data {
  font-size: 12px;
}

.data span {
  text-transform: uppercase;
  font-weight: bold;
  margin-right: 5px;
}

.trailer {
  padding: 0 8px 10px;
}