.input {
  width: 100%;
  padding: 10px;
  border: var(--border);
  border-radius: var(--border-radius);
  background: white;
  transition: border-color 300ms;
  cursor: text;
}

.input:hover {
  border-color: black;
}
