.input {
  width: 100%;
  padding: 10px;
  border: var(--b-default);
  border-radius: var(--br-default);
  background: white;
  transition: border-color 300ms;
  cursor: text;
}

.input:hover {
  border-color: black;
}
