.searchWrapper {
  padding: 10px;
  border-bottom: var(--border);
}

.search {
  width: 100%;
  border-radius: 5px;
  border: var(--border);
  padding: 10px;
  font-size: 14px;
  border: var(--border);
  outline-color: var(--blue-default);
}

.search:hover {
  border-color: var(--gray-dark);
}
