.search_wrapper {
  padding: 10px;
  border-bottom: var(--b-default);
}

.search {
  width: 100%;
  border-radius: 5px;
  border: var(--b-default);
  padding: 10px;
  font-size: 14px;
  border: var(--b-default);
  outline-color: var(--blue-default);
}

.search:hover {
  border-color: var(--gray-dark);
}
