.menu {
  padding: 15px;
}

.content {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
}

@media (max-width: 580px) {
  .content {
    display: flex;
    flex-direction: column;
  }
}

@media (max-width: 480px) {
  .content {
    gap: 20px;
  }
}