* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
}

li {
  list-style: none;
}

body {
  --base-color: #006db7;
  --base-color-light: #9ed8ff;
  font-family: 'Lato', sans-serif;
  font-size: 16px;
}

.container {
  padding: 0 12%;
}

@media (max-width: 925px) {
  .container {
    padding: 0 5%; 
  }
}

.page {
  position: relative;
  min-height: 600px;
  margin: 40px auto;
}