.playButton {
  display: flex;
  align-items: center;
  gap: 5px;
  color: var(--blue-default);
  background-color: var(--blue-default);
  border-radius: 50px;
  padding: 5px 15px;
}

.iconWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}

.playIcon {
  fill: white;
}
