.root {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.input_wrapper {
  position: relative;
  display: flex;
  border-radius: var(--rounded-default);
  overflow: hidden;
  cursor: pointer;
  aspect-ratio: 9 / 14;
}

.file_input {
  display: none;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(242, 242, 242, 0.8);
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: opacity 300ms;
}

.upload_icon {
  color: var(--color-gray-dark);
}

.input_wrapper:hover .overlay {
  opacity: 1;
}

.tools {
  position: absolute;
  top: 0;
  right: -25px;
}

.label + .tools {
  top: 23px;
}
