.wrapper {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.input {
  width: 100%;
  padding: 10px;
  border: var(--border-default);
  border-radius: var(--rounded-default);
  background: white;
  transition: border-color 300ms;
  cursor: text;
}

.input:hover {
  border-color: black;
}
