.wrapper {
  position: relative;
}

.select_button {
  display: flex;
  align-items: center;
  width: 100%;
  padding: 10px;
  border-radius: var(--br-default);
  border: var(--b-default);
  cursor: pointer;
  background-color: white;
}

.select_button:focus {
  outline: 1px solid var(--blue-default);
}

.select_button:disabled {
  user-select: none;
  pointer-events: none;
  cursor: default;
  background-color: var(--gray-light);
}

.select_button:hover {
  border-color: var(--gray-dark);
}

.icon {
  color: var(--gray);
}

.select_button:hover .icon {
  color: var(--gray-dark);
}

.chevron {
  margin-left: auto;
  transition: transform 300ms;
}

.selectButtonActive .chevron {
  transform: rotate(-180deg);
}

.select_icon {
  position: absolute;
  top: 50%;
  right: 40px;
  transform: translateY(-50%);
  z-index: 10;
}
