.title {
  font-size: 18px;
  font-weight: bold;
  text-transform: uppercase;
  line-height: 1;
  margin-bottom: 10px;
}

@media (max-width: 1280px) {
  .section {
    padding: 0 var(--padding);
  }
}

@media (max-width: 480px) {
  .title {
    font-size: 18px;
  }
}
