.trailers {
  position: absolute;
  right: 20px;
  bottom: 20px;
}

.play_button {
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  background-color: var(--color-blue-primary);
  border-radius: 4px;
  padding: 8px 10px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  transition: transform 200ms;
}

.play_button:active {
  transform: scale(0.95);
}

.play_icon {
  fill: white;
  width: 16px;
  height: 16px;
}

.label {
  font-size: 12px;
  text-transform: uppercase;
  font-weight: bold;
}

.trailers_modal {
  background-color: rgba(0, 0, 0, 0.7);
}

.trailers_modal_content {
  width: 80%;
}

.trailer_close_button {
  position: absolute;
  top: -15px;
  right: 10px;
  background-color: white;
  border-radius: 50%;
  z-index: 3;
}

@media (max-width: 1360px) {
  .trailers_modal_content {
    width: 98%;
  }
}

@media (max-width: 580px) {
  .trailers {
    position: static;
    margin-top: 20px;
  }

  .play_button {
    width: 100%;
    padding: 10px;
  }
}
