.events_track {
  display: flex;
  align-items: flex-start;
  gap: 20px;
  padding: 4px 2px;
  overflow-x: auto;
}

.all_films_link {
  position: relative;
  width: 80px;
  margin-right: 20px;
}

.all_films_link::after {
  content: '';
  position: absolute;
  top: 0;
  right: -20px;
  width: 2px;
  height: 80px;
  background-color: var(--color-gray-light);
}

.all_films_link_inner {
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--color-white);
  width: 80px;
  height: 80px;
  background-image: linear-gradient(45deg, var(--color-blue-dark), var(--color-blue-primary));
  border-radius: 50%;
  border: 2px solid var(--color-white);
  box-shadow: 0 0 0 2px var(--color-blue-primary);
}

.all_films_link_title {
  font-size: 14px;
  text-align: center;
  margin-top: 5px;
}
