.isDisabled {
  opacity: 0.5;
  pointer-events: none;
  user-select: none;
}

.value {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 40px;
  border: 2px solid #000;
  width: 100%;
  text-align: left;
  padding: 0 10px;
  border-radius: var(--app-border-radius);
  background-color: #fff;
  cursor: pointer;
}

.value:focus-visible {
  color: var(--main-color);
  border-color: var(--main-color);
}

.isDisabled .value {
  background-color: #f2f2f2;
  border-color: #ddd;
}

.select:focus .value {
  color: var(--main-color);
  border-color: var(--main-color);
}

.expandIcon {
  width: 30px;
  transition: transform 0.3s ease-in-out;
}

.isDisabled .expandIcon {
  stroke: #777;
}

.expandIcon.expanded {
  transform: rotate(-180deg);
}

.dropdown {
  width: 100%;
  border-radius: var(--app-border-radius);
  box-shadow: 0 10px 20px rgba(0 0 0 / 25%);
  overflow: hidden;
  max-height: 300px;
  overflow-y: auto;
}

.option {
  width: 100%;
  padding: 10px;
  text-align: left;
  transition: background-color 300ms;
  cursor: pointer;
}

.option:focus {
  color: #000;
  background-color: #a8d0eb;
}

.selected,
.selected:focus {
  color: #fff;
  background-color: var(--main-color);
}

.selected {
  pointer-events: none;
}
