.popupMenu {
  position: fixed;
  background-color: #fff;
  border-radius: var(--app-border-radius);
  box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.1);
  border: var(--app-border);
  min-width: 150px;
  z-index: 700;
}
