.rating {
  display: flex;
  gap: 5px;
}

.star {
  width: 28px;
  height: 28px;
  fill: var(--color-yellow-light);
  stroke: var(--color-yellow-light);
  opacity: 0.7;
}

.filled_star {
  fill: var(--color-yellow-primary);
  stroke: var(--color-yellow-primary);
  opacity: 1;
}
