.root_menu {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.root_menu_item {
  color: var(--console-link-color);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
  width: 150px;
  height: 120px;
  flex-shrink: 0;
  border-radius: var(--rounded-default);
  border: 1px solid transparent;
}

.root_menu_item:hover {
  border-color: var(--console-link-color);
  background-color: hsl(from var(--console-link-color) h s l / 0.05);
}

.root_menu_icon {
  font-size: 50px;
}

.root_menu_icon svg {
  width: 40px;
  height: 40px;
}
