.root_menu {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(140px, 1fr));
  gap: 20px;
  width: 100%;
}

.root_menu_item {
  color: var(--color-white);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
  width: 100%;
  height: 120px;
  flex-shrink: 0;
  border-radius: var(--rounded-default);
  background-image: linear-gradient(
    45deg,
    var(--console-link-color),
    hsl(from var(--console-link-color) calc(h - 20) s l)
  );
  text-align: center;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
  transition: box-shadow 300ms;
}

.root_menu_item:hover {
  box-shadow: rgba(0, 0, 0, 0.2) 0px 60px 40px -7px;
}

.root_menu_icon {
  font-size: 50px;
}

.root_menu_icon svg {
  width: 40px;
  height: 40px;
}

@media (width <= 420px) {
  .root_menu {
    justify-content: center;
  }
  .root_menu_item {
    width: 130px;
    height: 130px;
  }
  .root_menu_icon svg {
    width: 30px;
    height: 30px;
  }
}
