.root_menu {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
  margin-top: 20px;
}

.root_menu_item {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  width: 150px;
  height: 150px;
  flex-shrink: 0;
}

.root_menu_item:hover {
  color: var(--color-blue-primary);
}

.root_menu_icon {
  font-size: 50px;
}

.root_menu_icon svg {
  width: 40px;
  height: 40px;
}
