.summaryLayout {
  display: flex;
  gap: 20px;
  padding: 20px;
  border: var(--app-border);
  border-radius: 10px;
  background-color: var(--gray-invisible);
}

@media (max-width: 980px) {
  .summaryLayout {
    flex-direction: column;
    align-items: center;
  }
}

@media (max-width: 680px) {
  .summaryLayout {
    border: 0;
    background-color: transparent;
    border-radius: 0;
    padding: 0;
  }
}
