.summaryLayout {
  display: flex;
  gap: 20px;
}

.summary {
  display: flex;
  flex-direction: column;
  gap: 20px;
  flex-grow: 1;
}

.stats {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  margin-top: auto;
}

.trailerBlock {
  border-right: var(--app-border);
  padding-right: 20px;
}

@media (max-width: 680px) {
  .summaryLayout {
    flex-direction: column;
  }
}
