.wrapper {
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1000;
}

.content {
  position: relative;
  max-width: 800px;
  max-height: 90%;
  overflow-y: auto;
}

.close_button {
  position: absolute;
  top: 10px;
  right: 10px;
}
