.awards {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.title {
  font-size: var(--text-base);
  color: var(--color-orange-primary);
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(230px, 1fr));
  gap: 20px;
}
