.wrapper {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  gap: 20px;
}

.filters {
  display: grid;
  gap: 20px;
  grid-template-columns: repeat(auto-fit, minmax(140px, 1fr));
  align-items: center;
  flex-grow: 1;
}
