.wrapper {
  display: flex;
  gap: 20px;
  overflow-x: auto;
  height: 100%;
}

.film {
  flex-shrink: 0;
  border-radius: var(--rounded-default);
  overflow: hidden;
  width: 130px;
  position: relative;
}

.description {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 10px;
}

.description span {
  font-size: var(--text-sm);
  color: var(--color-white);
  position: relative;
  z-index: 1;
}

.description::after {
  content: '';
  width: 100%;
  height: calc(100% + 50px);
  background-image: linear-gradient(to top, var(--color-black), transparent);
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 0;
}
