.info {
  padding-top: 40px;
  padding-bottom: 40px;
}

.info__container {
  display: flex;
  flex-direction: row-reverse;
  gap: 40px;
}

.info__data {
  line-height: 1.5;
}

.info__title {
  color: var(--main-color);
  font-size: 35px;
  margin-bottom: 15px;
}

.info__section {
  margin-bottom: 40px;
  scroll-margin-top: calc(var(--header-height) + 20px);
}

.info__section-title {
  color: var(--main-color);
  margin-bottom: 10px;
}

.info__section-subtitle {
  font-size: 20px;
}

.info__text {
  margin-bottom: 10px;
}

.info__text a {
  color: var(--main-color);
  text-decoration: none;
  word-wrap: break-word;
}

.info__text a:hover {
  text-decoration: underline;
}

.info__code {
  font-family: monospace;
  background-color: #f6f8fa;
  padding: 15px 30px;
  margin-bottom: 15px;
  border-radius: 5px;
  overflow-x: auto;
  white-space: nowrap;
}

.info__list {
  margin-bottom: 15px;
  margin-left: 40px;
}

.info__list li {
  list-style: square;
  margin-bottom: 10px;
}

.info__list li span {
  position: relative;
}

.info__list li span::after {
  content: '';
  position: absolute;
  top: -2.5px;
  left: -5px;
  width: calc(100% + 10px);
  height: calc(100% + 5px);
  background-color: #f2f2f2;
  border-radius: 5px;
  z-index: -1;
}

.info__sidebar {
  flex-shrink: 0;
  width: 250px;
  border-left: var(--app-border);
  padding-left: 20px;
}

.info__navigation {
  display: flex;
  flex-direction: column;
  gap: 10px;
  position: sticky;
  top: calc(var(--header-height) + 40px);
}

.info__navigation h2 {
  font-size: 16px;
}

.info__navigation a {
  background-color: #f2f2f2;
  padding: 5px;
  border-radius: 5px;
}

.info__navigation a:hover {
  color: #fff;
  background-color: var(--main-color);
}

@media (max-width: 985px) {
  .info__sidebar {
    flex-shrink: initial;
  }
}

@media (max-width: 785px) {
  .info {
    padding: 0;
  }

  .info__container {
    display: block;
  }

  .info__section {
    scroll-margin-top: calc(var(--header-height) + 80px);
  }

  .info__sidebar {
    position: sticky;
    top: var(--header-height);
    background-color: #fff;
    border-left: 0;
    padding-left: 0;
    width: 100%;
    padding-top: 20px;
    padding-bottom: 20px;
    z-index: 100;
  }

  .info__navigation {
    position: static;
    flex-direction: row;
    overflow-x: auto;
  }

  .info__navigation h2 {
    display: none;
  }

  .info__navigation a {
    padding: 5px 10px;
  }
}