.filter-checkbox {
  display: flex;
  align-items: center;
  gap: 10px;
  cursor: pointer;
}
.filter-checkbox__input {
  display: none;
}
.filter-checkbox__icon {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #c6c6c6;
  width: 22px;
  height: 22px;
  padding: 5px;
}
.filter-checkbox__icon svg {
  display: none;
}
.filter-checkbox__input[type="checkbox"] + .filter-checkbox__icon {
  border-radius: 3px;
}
.filter-checkbox__input[type="radio"] + .filter-checkbox__icon {
  border-radius: 50px;
}
.filter-checkbox__input:checked + .filter-checkbox__icon {
  background-image: var(--main-gradient);
  border-color: var(--main-color);
}
.filter-checkbox__input:checked + .filter-checkbox__icon svg {
  display: block;
  fill: #fff;
}
.filter-checkbox__label {
  font-size: 14px;
  user-select: none;
}
.filter-checkbox:hover .filter-checkbox__label {
  color: var(--main-color);
}