.event_banner_button {
  width: 80px;
  position: relative;
}

.event_banner_inner {
  --shadow-weight: 2px;
  --shadow-color: var(--color-blue-primary);
  position: relative;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  overflow: hidden;
  border: 2px solid var(--color-white);
  box-shadow: 0 0 0 var(--shadow-weight) var(--shadow-color);
}

.event_banner_inner::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
}

.poster_image {
  transition: transform 300ms ease-in-out;
}

.event_banner_button:hover .poster_image {
  transform: scale(1.1);
}

.event_title {
  font-size: 14px;
  margin-top: 5px;
  text-align: center;
}

.event_banner_button:hover .event_title {
  color: var(--color-blue-primary);
}

.selected_event .event_banner_inner {
  --shadow-weight: 4px;
  --shadow-color: var(--color-green-primary);
}
