.previewWrapper {
  position: relative;
  display: block;
  overflow: hidden;
  border-radous: var(--border-radius);
  width: 40%;
  aspect-ratio: 16 / 9;
  flex-shrink: 0;
}

.playIcon {
  position: absolute;
  top: 50%;
  left: 50%;
  color: white;
  fill: white;
  width: 60px;
  height: 60px;
  transform: translate(-50%, -50%);
}

@media (max-width: 580px) {
  .previewWrapper {
    width: 100%;
  }
}
