.wrapper {
  display: flex;
  flex-direction: column;
  border-radius: var(--rounded-default);
  overflow: hidden;
}

.menu_option {
  text-align: left;
  padding: 10px 20px;
  border-bottom: var(--border-default);
}

.menu_option:last-child {
  border-bottom: 0;
}

.menu_option:hover {
  background-color: var(--color-gray-light);
}
