.wrapper {
  color: var(--purple-dark);
  display: flex;
  align-items: center;
  gap: 5px;
}

.eyeIcon {
  width: 20px;
  height: 20px;
}

.label {
  font-size: 12px;
  text-transform: uppercase;
}

.value {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  font-weight: bold;
  width: 40px;
  height: 20px;
  background-color: var(--purple-dark);
  border-radius: 50px;
}