.flex_wrapper {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.actions {
  position: sticky;
  bottom: 0;
  display: flex;
  gap: 20px;
  width: 100%;
  z-index: 100;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: var(--color-white);
}

.actions button {
  flex-grow: 1;
}
