.flex_wrapper {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 100%;
}

.actions {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  width: 100%;
}

.actions button {
  flex-grow: 1;
}
