.descriptions {
  padding-top: 20px;
}

.text {
  line-height: 1.8;
  margin-bottom: 10px;
}

.text:last-child {
  margin-bottom: 0;
}

.season {
  margin-bottom: 15px;
}

.season:last-child {
  margin-bottom: 0;
}

.seasonDetails {
  font-size: 14px;
  color: var(--gray-dark);
  margin: 5px 0;
}

@media (max-width: 480px) {
  .text {
    font-size: 14px;
  }

  .seasons {
    margin-top: 10px;
  }
}
