.category-list .container {
	justify-content: flex-start;
}

.category-section {
	margin: 30px auto 0;
	max-width: 1080px;
	text-align: center;
	background-color: #ddd;
	padding: 15px 0;
	text-transform: uppercase;
}

.category-list {
	margin: 30px 0;
}

.category-film {
	transition: .3s;
	position: relative;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
	margin-right: 15px;
	margin-bottom: 15px;
}
.category-film:hover {
	box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.category-film__link img {
	width: 160px;
	height: 230px;
	display: block;
	background-color: #eee;
}
.load-more {
	width: 100%;
	margin: 15px 0;
	text-align: center;
}
.load-more__btn {
	color: #fff;
	font-size: 18px;
	font-family: Arial, sans-serif;
	padding: 10px 30px;
	border: none;
	outline: none;
	text-transform: uppercase;
	background: #006db7;
	cursor: pointer;
	transition: .3s;
}
.load-more__btn:hover {
	background: lighten(#006db7, 8);
}

@media (max-width: 400px) {
	.movie-list .container {
		justify-content: space-between;
	}
	.category-film {
		margin-right: 0;
	}
}