.film__title {
	color: var(--base-color);
	font-size: 2.5rem;
}

.film__header {
	display: flex;
	gap: 20px;
	margin-bottom: 20px;
	height: 500px;
}

@media (max-width: 680px) {
	.film__header {
		height: 350px;
	}
}

.film__poster {
	width: auto;
	height: 100%;
}

.film__poster img {
	width: auto;
	height: 100%;
}

.film__info {
	display: flex;
	flex-direction: column;
	width: 100%;
	overflow: auto;
	border-bottom: 4px solid #f2f2f2;
	padding-right: 20px;
	padding-bottom: 20px;
}

@media(max-width: 500px) {
	.film__header {
		height: auto;
		flex-direction: column;
	}
	.film__poster {
		width: 100%;
	}
	.film__poster img {
		width: 100%;
	}
	.film__info {
		padding-right: 0;
	}
}

.film__basic {
	display: flex;
	flex-wrap: wrap;
	gap: 10px;
	margin-top: 10px;
	margin-bottom: 20px;
}

.film__year {
	color: #fff;
	background-color: var(--base-color);
	padding: 5px 15px;
}

.film__genres {
	display: flex;
	flex-wrap: wrap;
	gap: 10px;
}
.film__genre {
	display: block;
	padding: 5px 15px;
	background-color: #ffe6b3;
	transition: .3s;
	font-size: 14px;
}
.film__genre:hover {
	background-color: #ffdd99;
}

.film__runtime, .film__country {
	padding: 5px 15px;
	background-color: #f2f2f2;
}

.film__crew {
	display: flex;
	flex-wrap: wrap;
	gap: 10px;
	margin-top: 20px;
	margin-bottom: 20px;
}

.film__crew--director {
	margin-bottom: 0;
}

.crew__position {
	font-weight: bold;
	background-color: #d2d2d2;
	padding: 5px 15px;
}

.crew__names {
	background-color: #f2f2f2;
	padding: 10px 15px;
}

.film__production {
	display: flex;
	margin-top: auto;
	height: auto;
}

.film__production-title {
	padding-right: 10px;
}

.film__studio {
	text-decoration: underline;
}

.film__studio span {
	padding-right: 5px;
}

.film__subinfo {
	display: flex;
	justify-content: space-between;
	margin-bottom: 20px;
}

.film__categories {
	display: flex;
	flex-wrap: wrap;
	gap: 15px;
}

.film__category {
	display: block;
	background-color: #ccc;
	padding: 5px 15px;
	text-transform: uppercase;
	font-size: 14px;
	font-weight: bold;
}

.film__category--special-favorite {
	background-color: #fdd835;
}
.film__category--dceu {
	background-color: #4a148c;
	color: #fff;			
}
.film__category--marvel {
	background-color: #d32f2f;
	color: #fff;
}
.film__category--star-wars {
	background-color: #ffee58;
}
.film__category--harry-potter {
	background-color: #ffb74d;
}
.film__category--cinema-watched {
	background-color: #64b5f6;
	color: #fff;
}
.film__category--most-watched {
	background-color: #1de9b6;
}
.film__category--series {
	background-color: #90a4ae;
	color: #fff;
}

.film__money {
	display: flex;
	gap: 15px;
}

.film__money-item {
	display: flex;
}

.film__money-type {
	font-weight: bold;
	padding: 5px 15px;
	background-color: #d2d2d2;
}

.film__money-value {
	padding: 5px 15px;
	background-color: #f2f2f2;
}

@media (max-width: 930px) {
	.film__money {
		flex-wrap: wrap;
		justify-content: flex-end;
	}
}

@media (max-width: 500px) {
	.film__subinfo {
		flex-direction: column;
	}
	.film__categories {
		margin-bottom: 10px;
	}
	.film__money {
		justify-content: flex-start;
	}
}

.film__synopsis {
	color: #fff;
	font-size: 20px;
	background-color: #000;
	padding: 30px;
	line-height: 1.5;
	border-bottom: 2px solid #fff;
}

.film__cast {
	margin: 20px 0;
}
.film__persons {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	gap: 30px;
	margin-top: 20px;
}

@media (max-width: 800px) {
	.film__persons {
		grid-template-columns: repeat(2, 1fr);
	}
}

.film__persons .actor {
	display: flex;
	align-items: center;
	background-color: #f7f7f7;
	padding-right: 10px;
}

.film__persons .actor__image {
	font-size: 0;
	flex-shrink: 0;
	margin-right: 20px;
	width: 60px;
}

.film__persons .actor__image img {
	width: 100%;
}

@media (max-width: 550px) {
	.film__persons {
		display: block;
	}
	.film__persons .actor {
		margin-bottom: 10px;
	}
}

/*seasons*/

.seasons {
	display: flex;
	gap: 20px;
	margin-top: 20px;
	overflow-x: auto;
}

.season {
	position: relative;
	width: 200px;
	flex-shrink: 0;
}

.season__poster {
	width: 100%;
	height: 200px;
	position: relative;
}

.season__poster img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.season__play-btn {
	position: absolute;
	top: 0;
	left: 0;
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
	height: 100%;
	background-color: rgba(0,0,0,.5);
}

.season__play-btn img {
	width: 50px;
	height: 50px;
}

.season__info {
	color: #fff;
	text-align: center;
}

.season__number {
	font-size: 18px;
	background-color: #000;
	padding-top: 10px;
	padding-bottom: 10px;
	text-transform: uppercase;
}

.season__episodes {
	font-size: 14px;
	background-color: #777;
	padding-top: 10px;
	padding-bottom: 10px;
}

.parts {
	border-top: 1px solid #5b5b5b;
	padding-top: 20px;
}
.parts__list {
	display: flex;
	flex-wrap: wrap;
	gap: 15px;
	margin-top: 15px;
	margin-bottom: 30px;
	overflow-x: auto;
}
.parts__poster {
	width: 120px;
	height: 180px;
}
@media (max-width: 930px) {
	.parts__link {
		margin-bottom: 10px;
	}
}
.parts .router-link-active {
	opacity: .5;
	cursor: default;
}

.awards__list {
	display: flex;
	gap: 10px;
	overflow-x: auto;
	margin-top: 20px;
}

.award {
	flex-shrink: 0;
	background-color: #f2f2f2; 
}

.award__title, .award__nominations li {
	padding: 5px 20px;
}

.award__title {
	color: #fff;
	background-color: var(--base-color);
}