.header {
	background-color: var(--base-color);
	padding: 12px 0; 
	position: relative;
}

.header__container {
	display: flex;
	justify-content: space-between;
	align-items: center;
}


@media (max-width: 760px) {
	.header__container {
		flex-direction: column;
	}
}

.top-menu {
	display: flex;
	color: #fff;
	font-size: 18px;
}

@media (max-width: 550px) {
	.top-menu {
		display: none;
	}
}

.top-menu__item {
	margin-right: 40px;
	transition: .3s;	
}

.top-menu__item:hover {
	color: var(--base-color-light);
}

.top-menu__item .router-link-active {
	color: var(--base-color-light);
}

.top-menu__item:last-child {
	margin-right: 0;
}