.tags .container {
	 justify-content: space-between;
}
 .tags {
	 margin-top: 20px;
}
 .tags__cloud {
	 display: flex;
	 flex-wrap: wrap;
	 width: 49%;
	 border: 2px solid #008bea;
	 border-radius: 5px;
	 padding: 20px 30px;
	 box-sizing: border-box;
}
 .tag a {
	 display: block;
	 background: #008bea;
	 margin: 5px;
	 padding: 10px 15px;
	 border-radius: 5px;
	 color: #fff;
	 transition: 0.3s;
}
 .tag a:hover {
	 background: #0073c1;
}
 @media (max-width: 750px) {
	 .tags {
		 margin-top: 0;
	}
	 .tags .container {
		 flex-direction: column;
	}
	 .tags__cloud:first-child {
		 margin-bottom: 20px;
	}
	 .tags__cloud {
		 width: 100%;
	}
}
 @media (max-width: 500px) {
	 .tags__cloud {
		 padding: 10px 15px;
	}
}
 @media (max-width: 400px) {
	 .tags__cloud {
		 font-size: 14px;
	}
}