.resizable-button {
  display: flex;
  border: var(--app-border);
  padding: 5px 20px;
  border-radius: 50px;
}

.resizable-button--active {
  color: #fff;
  background-color: var(--main-color);
  border-color: var(--main-color);
}

.resizable-button__title {
  display: block;
  width: 0;
  overflow: hidden;
  text-align: left;
  transition: 0.3s;
}

.resizable-button--active .resizable-button__title {
  width: 60px;
}