.filmRow {
  padding: 10px;
  border-bottom: var(--app-border);
}

.filmRow:last-child {
  border-bottom: 0;
}

.filmRow:hover {
  background-color: var(--gray-extra-light);
}

.titleRow {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 25px;
}

.title {
  font-size: 18px;
  font-weight: bold;
}

.tool {
  display: flex;
  align-items: center;
  gap: 5px;
}

.tool:hover {
  color: var(--blue-default);
}

.tool:disabled {
  opacity: 0.5;
  cursor: default;
  pointer-events: none;
}

.tools {
  display: flex;
  flex-wrap: wrap;
  gap: 12px;
  justify-content: space-between;
}

.toolsBlock {
  padding: 5px 10px;
  border: var(--app-border);
  border-radius: 5px;
  background-color: white;
}

.column {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 12px;
}
