.navigation {
  display: flex;
  flex-direction: column;
}

.navItem {
  border-bottom: var(--app-border);
}

.navItem:first-child {
  border-top: var(--app-border);
}

.navLink {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 12px 20px;
  transition: background-color 0.3s ease;
}

.navLink:hover {
  background-color: var(--gray-light);
}

.navLink.disabled {
  opacity: 0.2;
  cursor: default;
  pointer-events: none;
}

.navLink.active {
  color: #fff;
  background-color: var(--main-color);
  pointer-events: none;
}