.navigation {
  display: flex;
  flex-direction: column;
}

.navItem {
  border-bottom: var(--app-border);
}

.navLink {
  position: relative;
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 12px 20px;
  transition: background-color 0.3s ease;
}

.navLink:hover {
  background-color: var(--gray-light);
}

.navLink.disabled {
  opacity: 0.2;
  cursor: default;
  pointer-events: none;
}

.navLink.active {
  color: var(--main-color);
  cursor: default;
  pointer-events: none;
}

.navLink.active::after {
  content: '';
  position: absolute;
  top: 0;
  width: 4px;
  height: 100%;
  background-color: var(--main-color);
} 

.navLink.active.leftMarker::after {
  left: -1px;
}

.navLink.active.rightMarker::after {
  right: -1px;
}