.actor {
  width: 160px;
  border: var(--app-border);
  border-radius: var(--app-border-radius);
  padding: 10px;
  flex-shrink: 0;
}

.photo {
  display: block;
  font-size: 0;
  flex-shrink: 0;
  width: 100%;
  height: 180px;
  overflow: hidden;
  border-radius: 5px;
}

.photo img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.details {
  margin-top: 10px;
}

.name {
  color: var(--main-color);
  display: block;
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 3px;
}

.name:hover {
  text-decoration: underline;
}

.characterName {
  font-size: 14px;
}
