.seasonsTable {
  margin-top: 20px;
  width: 100%;
  border-collapse: collapse;
}

.seasonsTable th {
  padding: 10px;
  text-align: left;
  border: var(--app-border);
  background-color: var(--gray-light);
}

.seasonsTable td {
  padding: 10px;
  border: var(--app-border);
}

.seasonsTable tbody tr:hover {
  background-color: var(--gray-extra-light);
}
