.money-main-value {
  position: relative;
  display: flex;
  gap: 5px;
  padding-left: 15px;
}

.money-main-value::before {
  content: '';
  position: absolute;
  top: 50%;
  width: 10px;
  height: 10px;
  background-color: #ffb74d;
  border-radius: 50px;
  left: 0;
  transform: translateY(-50%);
}

.money-main-value.box-office-low::before {
  background-color: #d32f2f;
}

.money-main-value.box-office-high::before {
  background-color: #4db6ac;
}

.money-main-value__type {
  font-weight: bold;
}