.page {
  padding: 20px 0;
}

.wrapper {
  display: flex;
  align-items: flex-start;
  gap: 40px;
  padding: 20px 0;
}

.title {
  font-size: 40px;
}

.title span {
  color: var(--main-color);
}

@media (max-width: 960px) {
  .wrapper {
    gap: 20px;
  }
}

@media (max-width: 760px) {
  .wrapper {
    flex-direction: column;
  }
}