.appliedFilters {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
}

.filter {
  display: flex;
  gap: 5px;
  align-items: center;
  background-color: var(--yellow-sand);
  border-radius: 6px;
  padding: 5px 15px;
}

.filter:hover .clearIcon {
  color: var(--blur-default);
}
