.wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;
  width: 100%;
}

.top_buttons {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.sorting {
  margin-left: auto;
}

.search_input {
  flex-grow: 1;
}

.films_filter {
  max-height: 500px;
  border-radius: var(--rounded-default);
  overflow-y: auto;
}

.filter_button_wrapper {
  display: none;
}

@media (width <= 785px) {
  .filter_button_wrapper {
    display: block;
  }
}

@media (width <= 480px) {
  .top_buttons {
    flex-direction: column;
    align-items: stretch;
    width: 100%;
  }
}
