.season-trailers {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.season-trailers__header {
  display: flex;
  flex-wrap: wrap;
  border-radius: 10px;
  border: var(--app-border);
  overflow: hidden;
}

.season-trailers__button {
  font-size: 12px;
  width: 30px;
  height: 30px;
  flex-shrink: 0;
}

.season-trailers__button--active {
  color: #fff;
  background-color: var(--base-color);
}

@media(max-width: 880px) {
  .season-trailers {
    width: 100%;
    flex-direction: column-reverse;
    justify-content: space-between;
  }
}