.chapters {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
}

.empty {
  background-color: var(--gray);
  width: 100%;
  height: 100%;
  border-radous: var(--br-default);
}

.poster {
  border-radous: var(--br-default);
}
