.chapters {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
}

.empty {
  background-color: var(--color-gray-primary);
  width: 100%;
  height: 100%;
  border-radius: var(--rounded-default);
}

.poster {
  border-radius: var(--rounded-default);
}
