.error_screen {
  display: flex;
  align-items: center;
  justify-content: center;
  height: var(--screen-height);
  padding: 20px;
}

.container {
  max-width: 500px;
}

.title {
  font-size: 45px;
  font-family: 'Roboto-Condensed';
  text-transform: uppercase;
  margin-top: 20px;
}

.description {
  color: var(--color-gray-dark);
  margin-top: 10px;
  margin-bottom: 20px;
}

.home_link {
  color: var(--color-white);
  display: inline-flex;
  align-items: center;
  padding: 10px 20px;
  gap: 10px;
  background-color: var(--color-blue-primary);
  border-radius: var(--rounded-default);
  border: 1px solid transparent;
}

.home_link:hover {
  border-color: var(--color-black);
}
