.chapter {
  position: relative;
  width: 130px;
  height: 180px;
  flex-shrink: 0;
  overflow: hidden;
  border-radius: var(--rounded-default);
  border: var(--border-default);
}

.chapter_disabled {
  pointer-events: none;
}

.chapter_disabled img {
  opacity: 0.5;
}

.order {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: var(--text-xs);
  font-weight: bold;
  background-color: var(--color-white);
  box-shadow: var(--shadow-sm);
  width: 24px;
  height: 24px;
  border-bottom-right-radius: var(--rounded-default);
}
