.section {
  border: var(--border-default);
  border-radius: var(--rounded-default);
  background-color: var(--color-white);
  max-height: 350px;
  overflow-y: auto;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
  position: sticky;
  top: 0;
  padding: 10px;
  background-color: var(--color-white);
}

.title {
  color: var(--color-blue-primary);
  font-size: var(--text-xl);
  font-family: 'Roboto-Condensed', sans-serif;
}
