.video {
  width: 100%;
  height: 100%;
  background-color: var(--color-black);
  cursor: pointer;
  overflow: hidden;
  border-radius: 4px;
}

.video iframe {
  border: none;
  width: 100%;
  height: 100%;
}
