.grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
  gap: 20px;
  width: 100%;
  border: var(--app-border);
  border-radius: var(--app-border-radius);
  flex-shrink: 0;
  padding: 15px;
}