.poster {
  display: flex;
  width: var(--left-column-width);
  border: var(--border-default);
  border-radius: var(--rounded-default);
  overflow: hidden;
  flex-shrink: 0;
  flex-grow: 1;
  margin: 0 auto;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 25px 50px -12px;
}

@media (max-width: 725px) {
  .poster {
    width: 100%;
  }
}
