.episodes-table-wrapper {
  overflow-x: auto;
}

.episodes-table {
  width: 100%;
  border-radius: 8px;
}

.episodes-table__header {
  color: #fff;
}

.episodes-table__cell {
  padding: 10px;
  background-color: #fff;
}

.episodes-table__header th:first-child {
  border-top-left-radius: 8px;
}

.episodes-table__header th:last-child {
  border-top-right-radius: 8px;
}

.episodes-table__header .episodes-table__cell {
  text-align: center;
  font-weight: bold;
  background-color: var(--main-color);
}

.episodes-table__cell--num {
  text-align: center;
  width: 80px;
}

.episodes-table__cell a {
  color: var(--main-color);
  text-decoration: underline;
}

.episodes-table__cell--small {
  width: 200px;
}

.episodes-table__body .episodes-table__row:last-child td:first-child {
  border-bottom-left-radius: 8px;
}

.episodes-table__body .episodes-table__row:last-child td:last-child {
  border-bottom-right-radius: 8px;
}