.nominations_form {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.nomination {
  display: flex;
  gap: 20px;
  align-items: center;
}

.nomination_title {
  width: 100%;
}

.nomination_toggle {
  display: flex;
  gap: 20px;
  margin-top: 20px;
}

@media (width < 760px) {
  .nominations_form {
    gap: 40px;
  }
  .nomination {
    flex-direction: column;
    gap: 10px;
    align-items: flex-start;
  }

  .nomination_toggle {
    justify-content: space-between;
    margin-top: 0;
    width: 100%;
  }
}
