.menuWrapper {
  position: sticky;
  top: calc(var(--header-height) + var(--console-header-height));
  width: 300px;
  flex-shrink: 0;
  min-height: calc(var(--app-height) - var(--console-header-height));
  border-right: var(--app-border);
  background-color: white;
  transition: width 300ms;
  overflow: hidden;
  border-right: var(--app-border);
  z-index: 50;
}

.menuWrapperHidden {
  width: 0;
  box-shadow: none;
}

.consoleMenu {
  width: 300px;
}

@media (max-width: 785px) {
  .menuWrapper {
    position: fixed;
    left: 0;
    width: 200px;
    box-shadow:
      rgba(0, 0, 0, 0.1) 0px 20px 25px -5px,
      rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;
  }

  .consoleMenu {
    width: 200px;
  }

  .menuWrapperHidden {
    width: 0;
  }
}
