.status {
  font-size: 10px;
  padding: 4px 10px;
  border-radius: 4px;
  border: 1px solid transparent;
  text-transform: uppercase;
  min-width: 60px;
  text-align: center;
  user-select: none;
}

.status.red {
  color: var(--color-red-primary);
  background-color: var(--color-red-extra-light);
  border-color: var(--color-red-primary);
}

.status.yellow {
  color: var(--color-orange-primary);
  background-color: var(--color-yellow-extra-light);
  border-color: var(--color-yellow-primary);
}

.status.gray {
  background-color: var(--color-gray-primary);
  border-color: var(--color-gray-dark);
}

.status.green {
  color: white;
  background-color: var(--color-green-primary);
  border-color: var(--color-green-dark);
}
