.film_page_layout {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 20px;
  margin: 0 auto;
  max-width: 1280px;
}

@media (width < 1280px) {
  .film_page_layout {
    padding: 20px 0;
  }
}
