.search_wrapper {
  padding: 10px;
  border-bottom: var(--border-default);
}

.search {
  width: 100%;
  border-radius: 5px;
  border: var(--border-default);
  padding: 10px;
  font-size: 14px;
  border: var(--border-default);
  outline-color: var(--color-blue-primary);
}

.search:hover {
  border-color: var(--color-gray-dark);
}
