.skeleton {
  position: relative;
  width: var(--skeleton-block-width);
  height: var(--skeleton-block-height);
  border-radius: 5px;
  background-color: var(--color-gray-light-dark);
  overflow: hidden;
  background-image: linear-gradient(90deg, transparent, var(--color-gray-primary), transparent);
  background-size: 200% auto;
  background-position: 200%;
  animation: slide 3s ease infinite;
  background-repeat: no-repeat;
}

@keyframes slide {
  0% {
    background-position-x: 200%;
  }
  100% {
    background-position-x: -200%;
  }
}
