.header {
  position: sticky;
  top: 0;
  height: var(--header-height);
  background-color: var(--main-color);
  z-index: 1000;
}
.container {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
  height: 100%;
  padding-top: 8px;
  padding-bottom: 8px;
}
.logoLink {
  height: 100%;
  width: auto;
}
.logoImage {
  width: 100%;
  height: 100%;
}
.actions {
  display: flex;
  align-items: center;
  gap: 15px;
}
.active {
  background-color: rgb(255 255 255 / 25%);
}
.filmsCount {
  display: flex;
  flex-direction: column;
  color: #fff;
  align-items: center;
}

.filmsCount span {
  font-size: 10px;
  text-transform: uppercase;
}

.filmsCount b {
  font-size: 18px;
}
