.header {
  position: sticky;
  top: 0;
  height: var(--header-height);
  background-image: var(--main-gradient);
  z-index: 100;
}
.header__container {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  padding-top: 15px;
  padding-bottom: 15px;
}
.header__logo {
  height: 100%;
  width: auto;
}
.header__logo svg {
  width: 100%;
  height: 100%;
}
@media (max-width: 785px) {
  .header__logo {
    overflow: hidden;
    width: 40px;
  }
  .header__logo svg {
    width: 41px;
  }
}