.seasons {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 10px;
}

.seasons__select {
  border: var(--app-border);
  padding: 5px 20px;
  border-radius: 10px;
}

.episodes {
  width: 100%;
  border: var(--app-border);
  border-radius: 10px;
  border-collapse: collapse;
}

.episode-data__number {
  font-weight: bold;
  border-right: var(--app-border);
  border-bottom: var(--app-border);
  text-align: center;
}

.episode-data__main {
  padding: 10px 20px;
  border-bottom: var(--app-border);
}

.episode-data__title {
  font-weight: normal;
}