.series {
  border: var(--app-border);
  border-radius: 10px;
  overflow: hidden;
}

.seasons {
  display: flex;
  border-bottom: var(--app-border);
  background-color: #f2f2f2;
  overflow-x: auto;
}

.season-button {
  padding: 20px;
  background-color: #fff;
  
}

.season-button--active {
  color: #fff;
  font-weight: bold;
  background-color: var(--base-color);
}

.episode-data {
  display: flex;
  padding: 20px;
  border-bottom: var(--app-border);
}

.episode-data:last-child {
  border-bottom: 0;
}

.episode-data__main {
  display: flex;
  gap: 10px;
}