.row {
  display: flex;
  align-items: center;
  border-bottom: var(--app-border);
  padding: 15px;
  justify-content: space-between;
}

.row:last-child {
  border-bottom: 0;
}

.row:hover {
  background-color: var(--gray-extra-light);
}

.tools {
  display: flex;
  align-items: center;
  gap: 20px;
}
