.wrapper {
  display: flex;
  border-radius: var(--rounded-default);
  overflow: hidden;
  position: relative;
}

.actions {
  display: flex;
  justify-content: center;
  gap: 10px;
  position: absolute;
  left: 10px;
  bottom: 10px;
  width: calc(100% - 20px);
  padding: 10px;
  background-color: rgb(255 255 255 / 0.9);
  border-radius: var(--rounded-default);
}

.counter {
  font-weight: bold;
  font-size: 20px;
}
