.menuWrapper {
  position: sticky;
  top: var(--header-height);
  width: 300px;
  flex-shrink: 0;
  min-height: var(--app-height);
  border-right: var(--app-border);
  background-color: white;
  transition: width 300ms;
  overflow: hidden;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  z-index: 9999;
}

.menuWrapperHidden {
  width: 0;
  box-shadow: none;
}

.consoleMenu {
  width: 300px;
}

@media (max-width: 785px) {
  .menuWrapper {
    position: fixed;
    top: calc(var(--header-height) + var(--console-header-height));
    left: 0;
    width: 200px;
  }

  .consoleMenu {
    width: 200px;
  }

  .menuWrapperHidden {
    width: 0;
  }
}
