.formWrapper {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.dates {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
}

.dateGroup {
  padding: 20px;
  border: var(--app-border);
  border-radius: 8px;
}

.groupTitle {
  display: flex;
  justify-content: space-between;
  gap: 10px;
  color: var(--gray-dark);
  font-weight: bold;
  margin-bottom: 10px;
  padding-bottom: 10px;
  border-bottom: var(--app-border);
}

.inputs {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
}

@media (max-width: 580px) {
  .dates,
  .inputs {
    grid-template-columns: 1fr;
  }
}
