.dates {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  gap: 30px;
}

.inputWrapper {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.datesHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  height: 24px;
}
