.menu_wrapper {
  position: sticky;
  top: calc(var(--header-height) + var(--console-header-height));
  width: 300px;
  flex-shrink: 0;
  min-height: calc(var(--screen-height) - var(--console-header-height));
  border-right: var(--border-default);
  background-color: white;
  transition: width 300ms;
  overflow: hidden;
  border-right: var(--border-default);
  z-index: 50;
}

.menu_wrapper_hidden {
  width: 0;
  box-shadow: none;
}

.console_menu {
  width: 300px;
}

@media (max-width: 785px) {
  .menu_wrapper {
    position: fixed;
    left: 0;
    width: 200px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 20px 25px -5px, rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;
  }

  .console_menu {
    width: 200px;
  }

  .menu_wrapper_hidden {
    width: 0;
  }
}
