.stats {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  align-items: center;
}

.stats_item {
  display: flex;
  align-items: center;
  gap: 10px;
  border: 1px solid var(--stats-item-border-color);
  color: var(--stats-item-text-color);
  background-color: var(--stats-item-bg);
  padding: 8px 15px;
  border-radius: var(--rounded-default);
}

.stats_item_label {
  font-size: 12px;
  text-transform: uppercase;
}

.stats_item_rating {
  --stats-item-border-color: var(--color-blue-dark);
  --stats-item-text-color: var(--color-blue-dark);
  --stats-item-bg: var(--color-blue-invisible);
}

.stats_item_watch_count {
  --stats-item-border-color: var(--color-green-dark);
  --stats-item-text-color: var(--color-green-dark);
  --stats-item-bg: var(--color-green-invisible);
}

.stats_item_value {
  font-weight: bold;
}
