.sidebar_content {
  width: 300px;
  flex-shrink: 0;
  position: sticky;
  top: var(--sidebar-top-position);
  height: var(--sidebar-height);
  border: var(--border-default);
  border-radius: var(--rounded-default);
  overflow: hidden;
}

.filter_button {
  display: none;
}

.missing_filters {
  color: var(--color-gray-dark);
  font-size: 12px;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  height: 100%;
}

.close_button_wrapper {
  display: none;
  margin-top: -10px;
}

.filter_wrapper {
  display: flex;
  flex-direction: column;
  height: 100%;
}

@media (max-width: 785px) {
  .sidebar_content {
    position: fixed;
    width: 100%;
    height: 100% !important;
    left: 0;
    top: 0;
    background-color: rgb(0 0 0 / 0.5);
    z-index: 9999;
    border-radius: 0;
    border: 0;
    opacity: 0;
    visibility: hidden;
    transition: opacity 100ms, visibility 100ms;
    padding: 20px;
  }

  .filter_wrapper {
    transform: translateY(100px);
    transition: transform 200ms;
    border-radius: var(--rounded-default);
    border-radius: var(--rounded-default);
    overflow: hidden;
  }

  .open {
    opacity: 1;
    visibility: visible;
  }

  .open .filter_wrapper {
    transform: translateY(0);
  }

  .close_button_wrapper {
    padding: 0 20px 20px;
    display: block;
    background-color: var(--color-white);
  }

  .close_button_wrapper button {
    width: 100%;
  }
}
