.sidebar_content {
  width: 300px;
  flex-shrink: 0;
  position: sticky;
  top: var(--sidebar-top-position);
  height: var(--sidebar-height);
  border: var(--border-default);
  border-radius: var(--rounded-default);
  overflow: hidden;
}

.filter_button {
  display: none;
}

.missing_filters {
  color: var(--color-gray-dark);
  font-size: 12px;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  height: 100%;
}

.close_button_wrapper {
  display: none;
  margin-top: -10px;
}

.filter_wrapper {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.sidebar_button {
  display: none;
}

@media (max-width: 785px) {
  .sidebar_content {
    position: fixed;
    width: 90%;
    height: 80% !important;
    right: 20px;
    top: initial;
    bottom: 100px;
    z-index: 9999;
    border-radius: 0;
    border: 0;
    visibility: hidden;
    transition: transform 300ms;
    transform: translateY(20px);
    transition: transform 200ms;
    border-radius: var(--rounded-default);
    border-radius: var(--rounded-default);
    overflow: hidden;
    box-shadow: var(--shadow-sm);
  }

  .open {
    visibility: visible;
    transform: translateY(0);
  }

  .sidebar_button {
    display: flex;
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: var(--color-blue-primary);
    padding: 20px;
    z-index: 999;
    border-radius: 50%;
    color: var(--color-white);
    box-shadow: var(--shadow-sm);
    transition: transform 300ms;
  }

  .sidebar_button_count {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 30px;
    background-color: var(--color-orange-primary);
    border-radius: 50%;
    font-size: 12px;
    top: -15px;
    right: 0;
  }
}
