.add_item_link {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  border: var(--b-default);
  background-color: white;
  padding: 10px 20px;
  border-radius: var(--br-default);
  transition: background-color 300ms;
}

.add_item_link:hover {
  border-color: var(--black);
}
