.list {
  display: flex;
  gap: 20px;
  overflow-x: auto;
  padding-bottom: 10px;
}

.item {
  display: flex;
  width: 160px;
  flex-shrink: 0;
}

.placeholder {
  width: 160px;
  background-color: var(--gray-light);
  border-radius: 8px;
  flex-shrink: 0;
  border: var(--app-border);
}
