.selectedFilters {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.filter {
  display: flex;
  gap: 5px;
  background-color: #f2f2f2;
  border-radius: var(--app-border-radius);
  padding: 5px 20px;
}

