.wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;
  padding: 20px;
  border: var(--app-border);
  border-radius: var(--app-border-radius);
  background-color: var(--gray-extra-light);
}

.row {
  display: flex;
  align-items: flex-start;
  gap: 10px;
  padding: 20px;
  border: var(--app-border);
  border-radius: var(--app-border-radius);
  width: 100%;
  background-color: white;
}

.rowInputs {
  display: flex;
  flex-direction: column;
  gap: 10px;
  flex-grow: 1;
}
