.pagination {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap: 30px;
  width: 100%;
}

.pages {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.page_button {
  color: var(--color-gray-dark);
  border: var(--border-default);
  width: 35px;
  height: 35px;
  border-radius: 6px;
  background-color: white;
  transition: background-color 300ms;
  cursor: pointer;
}

.page_button:hover {
  color: var(--color-black);
  background-color: var(--color-gray-light);
}

.page_button.active {
  color: white;
  background-color: var(--color-blue-primary);
  border-color: var(--color-blue-primary);
}

.stats {
  display: flex;
  align-items: center;
  gap: 5px;
  flex-shrink: 0;
  margin-left: auto;
}

.current_state {
  color: var(--color-blue-primary);
}

.dots {
  margin-top: auto;
  font-size: 20px;
  color: var(--color-gray-dark);
  user-select: none;
}
