.summaryLayout {
  position: relative;
  display: flex;
  gap: 20px;
  padding: 20px;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 8px;
  overflow: hidden;
  z-index: 2;
}

.summaryLayout::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  filter: blur(50px) brightness(0.6);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: var(--bg-url);
  z-index: -1;
}

.info {
  display: flex;
  flex-direction: column;
  gap: 10px;
  flex-grow: 1;
}

@media (max-width: 1280px) {
  .summaryLayout {
    border-radius: 0;
    flex-direction: column;
    padding-top: 64px;
    margin-top: -64px;
  }
}
