.pagination {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap: 30px;
  width: 100%;
}

.pages {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.pageButton {
  color: var(--gray-dark);
  border: var(--app-border);
  width: 35px;
  height: 35px;
  border-radius: 6px;
  background-color: white;
  transition: background-color 300ms;
}

.pageButton:hover {
  color: var(--black);
  background-color: var(--gray-light);
}

.pageButton.active {
  color: white;
  background-color: var(--blue-default);
  border-color: var(--blue-default);
}

.stats {
  display: flex;
  align-items: center;
  gap: 5px;
  flex-shrink: 0;
  margin-left: auto;
}

.currentState {
  color: var(--blue-default);
}

.dots {
  margin-top: auto;
  font-size: 20px;
  color: var(--gray-dark);
  user-select: none;
}
