.label {
  color: var(--gray-dark);
  font-size: 12px;
  text-transform: uppercase;
  margin-bottom: 5px;
}

.input {
  width: 100%;
  padding: 10px;
  border: var(--app-border);
  border-radius: var(--app-border-radius);
}

.error {
  color: #d66363;
  font-size: 13px;
  margin-top: 3px;
}