.drawer_wrapper {
  position: fixed;
  top: var(--header-height);
  right: 0;
  overflow-y: auto;
  max-width: 1080px;
  width: 100%;
  height: var(--screen-height);
  background-color: var(--color-white);
  box-shadow: var(--shadow-sm);
  z-index: 200;
  user-select: none;
}
.drawer_wrapper.wide {
  max-width: 1080px;
}

.drawer_wrapper.narrow {
  max-width: 320px;
}

.close_button_holder {
  position: sticky;
  top: 0;
  z-index: 200;
  height: 0;
}

.close_button {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--color-white);
  border-bottom-left-radius: 10px;
  margin-left: auto;
}

.is_dragging {
  transition: none !important;
}

.is_settling {
  transition: transform 300ms ease;
}

.is_closing {
  transform: translateX(120%) !important;
}

.drawer_wrapper.wide .close_button {
  width: 40px;
  height: 40px;
}

.drawer_wrapper.narrow .close_button {
  width: 24px;
  height: 24px;
}
