.drawer_wrapper {
  --drawer-close-button-size: 0;
  --drawer-max-width: 0;

  position: fixed;
  top: var(--header-height);
  right: 0;
  overflow-y: auto;
  max-width: var(--drawer-max-width);
  width: 100%;
  height: var(--screen-height);
  background-color: var(--color-white);
  box-shadow: var(--shadow-sm);
  z-index: 200;
  user-select: none;
}

.close_button {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--color-white);
  border-bottom-left-radius: 10px;
  margin-left: auto;
  width: var(--drawer-close-button-size);
  height: var(--drawer-close-button-size);
}

.wide {
  --drawer-max-width: 1080px;
  --drawer-close-button-size: 40px;
}

.narrow {
  --drawer-max-width: 320px;
  --drawer-close-button-size: 24px;
}

.close_button_holder {
  position: sticky;
  top: 0;
  z-index: 200;
  height: 0;
}

.is_dragging {
  transition: none !important;
}

.is_settling {
  transition: transform 300ms ease;
}

.is_closing {
  transform: translateX(120%) !important;
}
