.collections-menu {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  background-color: #fff;
  box-shadow: 3px 1px 10px rgba(0, 0, 0, 0.1);
  z-index: 100;
  border-bottom: var(--app-border);
}

.collections-menu__container {
  padding-top: 20px;
  padding-bottom: 20px;
}

.collections-list {
  display: flex;
  gap: 20px;
  overflow-x: auto;
  padding-bottom: 20px;
}

@media (max-width: 920px) {
  .collections-list {
    padding-bottom: 0;
  }
}