.wrapper {
  display: flex;
  gap: 20px;
  overflow-x: auto;
  padding-bottom: 15px;
}

.filmLink {
  width: 160px;
  aspect-ratio: 9/14;
  overflow: hidden;
  border-radius: var(--app-border-radius);
  flex-shrink: 0;
  background-color: var(--gray-light);
}

@media (max-width: 480px) {
  .filmLink {
    width: 120px;
  }
}