.input {
  width: 100%;
  padding: 10px;
  border: var(--app-border);
  border-radius: var(--app-border-radius);
  transition: border-color 300ms;
  cursor: text;
}

.input:hover {
  border-color: black;
}
