.searchWrapper {
  position: relative;
  max-width: 800px;
  width: 100%;
}

.input {
  font-size: 14px;
  color: #000;
  padding: 10px 50px 10px 20px;
  width: 100%;
  padding-right: 50px;
  outline: none;
  border: var(--app-border);
  border-radius: 50px;
  transition: 0.2s;
  background-color: #fff;
}

.input:focus {
  border-color: var(--main-color);
}

.searchIcon {
  color: #ddd;
  position: absolute;
  top: 50%;
  right: 20px;
  height: 20px;
  width: 20px;
  cursor: pointer;
  transition: 0.2s;
  transform: translateY(-50%);
}

.input:focus + .searchIcon {
  color: var(--main-color);
}