.dataLinks {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 15px;
}

.row {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 5px;
}

.rowTitle {
  text-transform: uppercase;
  font-size: 12px;
}

.group {
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
}

@media (max-width: 500px) {
  .links {
    gap: 10px;
    font-size: 14px;
  }
}