.inputWrapper {
  display: flex;
  flex-direction: column;
  gap: 5px;
  width: 100%;
}

.fieldWrapper {
  position: relative;
}

.textInput {
  width: 100%;
  padding: 10px;
  border-radius: var(--border-radius);
  border: var(--border);
  outline-color: var(--blue-default);
  transition: border-color 300ms;
  background-color: white;
}

.textInput:hover {
  border-color: var(--gray-dark);
}

.textInput.withIcon {
  padding-right: 50px;
}

.fieldWrapper {
  position: relative;
}

.textInput.withIcon {
  padding-right: 50px;
}
