.panel {
  background-color: #fff;
  border-radius: var(--br-default);
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

.panelWithPadding {
  padding: 20px;
}

.flexContainer {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
