.panel {
  background-color: var(--color-white);
  border-radius: var(--rounded-default);
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

.panel_with_padding {
  padding: 20px;
}

.flex_container {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
