.title_row {
  display: flex;
  gap: 40px;
  justify-content: space-between;
  align-items: flex-start;
}

.right_column {
  display: flex;
  gap: 10px;
}

@media (width < 768px) {
  .right_column {
    position: absolute;
    top: 74px;
    right: 30px;
  }

  .title_row {
    flex-direction: column;
    gap: 10px;
  }
}
