.range_input_wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 40px;
  gap: 20px;
  width: 100%;
  margin: 0 auto;
}

.inputs {
  position: relative;
  flex-grow: 1;
}

.range_input::-webkit-slider-thumb {
  appearance: none;
  width: 24px;
  height: 24px;
  background-color: var(--color-blue-light);
  border-radius: 50%;
  box-shadow: 0 0 0 1px var(--color-blue-primary);
  cursor: pointer;
  pointer-events: all;
  transition: background-color 300ms;
}

.range_input::-moz-range-thumb {
  pointer-events: all;
  width: 24px;
  height: 24px;
  background-color: var(--color-blue-light);
  border-radius: 50%;
  box-shadow: 0 0 0 1px var(--color-blue-primary);
  cursor: pointer;
}

.range_input::-webkit-slider-thumb:hover {
  background: var(--color-green-invisible);
}

.range_input::-webkit-slider-thumb:active {
  background-color: var(--color-blue-primary);
}

.range_input {
  appearance: none;
  position: absolute;
  height: 3px;
  width: 100%;
  pointer-events: none;
  background-color: var(--color-blue-primary);
  border-radius: 50px;
}

.left_input {
  height: 0;
  z-index: 1;
  margin-top: 2px;
}

.number {
  font-size: var(--text-sm);
}
