.awards {
  display: flex;
  flex-direction: column;
  gap: 15px;
  background-color: var(--color-yellow-extra-light);
  padding: 20px;
}

.title {
  color: var(--color-orange-primary);
  font-family: 'Roboto-Condensed', sans-serif;
  font-size: var(--text-2xl);
}
