.wrapper {
  padding: 20px 20px 40px;
  background-color: var(--color-white);
  border-radius: var(--rounded-default);
}

.label {
  font-weight: bold;
  text-transform: uppercase;
  font-size: var(--text-lg);
  margin-bottom: 10px;
}

.container {
  position: relative;
  border: 1px solid var(--color-gray-primary);
  border-radius: var(--rounded-sm);
}

.row {
  position: relative;
  display: flex;
  align-items: center;
  height: 45px;
}

.data_line {
  height: 30px;
  line-height: 30px;
  width: 100%;
  font-size: var(--text-sm);
  background-color: hsl(from var(--color-gray-light) h s l / 80%);
}

.data_line_main {
  text-transform: uppercase;
  font-family: var(--font-condensed);
  padding-left: 10px;
  width: var(--chart-data-value);
  background-color: hsl(from var(--chart-line-color) h s l / 60%);
  white-space: nowrap;
}

.data_line_value {
  position: absolute;
  right: 0;
  top: 50%;
  padding-right: 10px;
  transform: translateY(-50%);
}

.cells {
  display: flex;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.cell {
  position: relative;
  flex-grow: 1;
  border-right: 1px solid var(--color-gray-primary);
}

.cell:last-child {
  border-right: 0;
}

.axis_value {
  position: absolute;
  bottom: -22px;
  left: -10px;
  height: 20px;
  width: 20px;
  text-align: center;
  line-height: 20px;
  font-size: var(--text-sm);
  font-family: var(--font-condensed);
  color: var(--color-gray-dark);
}
