.summaryBlock {
  color: white;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.label {
  font-size: 12px;
  text-transform: uppercase;
  flex-shrink: 0;
}

@media (max-width: 480px) {
  .summaryBlock {
    flex-direction: column;
    align-items: flex-start;
  }
}
