.description {
  line-height: 1.5;
  padding: 20px;
  background-color: rgb(255 255 255 / 0.8);
  border-radius: var(--rounded-default);
  border: var(--border-default);
}

.description p {
  margin-bottom: 10px;
}

.description p:last-child {
  margin-bottom: 0;
}

@media (max-width: 480px) {
  .description {
    font-size: 14px;
  }
}
