.sortableItem {
  display: flex;
  gap: 10px;
  background-color: white;
  border-radius: 8px;
  padding: 10px;
  border: var(--app-border);
}

.itemContent {
  flex-grow: 1;
}

.handler {
  flex-shrink: 0;
  color: var(--gray-dark);
  cursor: grab;
}

.handler:active {
  cursor: grabbing;
}
