.header {
  --icon-size: 30px;

  position: sticky;
  top: 0;
  width: 100%;
  background-color: #fff;
  height: var(--header-height);
  border-bottom: var(--app-border);
  z-index: 100;
}

.headerContainer {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 var(--main-padding);
  gap: 20px;
  height: 100%;
}

.logoWrapper {
  display: flex;
  text-align: center;
}

.logo {
  width: var(--icon-size);
}

.leftColumn {
  display: flex;
  align-items: center;
  gap: 5px;
}

.menuButton {
  display: flex;
  justify-content: center;
  align-items: center;
  width: var(--icon-size);
  height: var(--icon-size);
  border-radius: var(--app-border-radius);
  border: 1px solid transparent;
}

.menuButton:focus-visible {
  outline: auto;
}

.menuIcon {
  pointer-events: none;
}

.searchWrapper {
  max-width: 920px;
  width: 100%;
}

@media (max-width: 480px) {
  .searchWrapper:has(input:focus) {
    position: absolute;
    left: 0;
    top: 0;
    padding: 10px;
    background-color: white;
  }
}
