.consoleHeader {
  position: sticky;
  top: var(--header-height);
  display: flex;
  align-items: center;
  gap: 20px;
  padding: 0 20px;
  border-bottom: var(--app-border);
  background-color: white;
  height: var(--console-header-height);
  z-index: 5;
}

.menuButton {
  display: flex;
}

.menuIcon {
  color: var(--blue-default);
}

.menuIconCollapsed {
  color: var(--black);
}

.consoleHeaderTitle {
  color: var(--gray-dark);
  font-weight: bold;
  text-transform: uppercase;
}

@media (max-width: 785px) {
  .consoleHeaderTitle {
    font-size: 14px;
  }
}
