.filters {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 20px;
  height: 100%;
}

.filters__container {
  display: flex;
  flex-direction: column;
  gap: 20px;
  height: 100%;
  overflow-y: auto;
}
.filters-group {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding-right: 10px;
}

.filters__controls {
  display: flex;
  width: 100%;
  gap: 10px;
}

.filters__controls button {
  flex: 1;
}