.content {
  position: relative;
  border-radius: 10px;
  width: 100%;
  overflow: auto;
}

.content.withPaddings {
  padding: 20px;
}

.content.flex {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.content.light {
  background-color: var(--color-white);
}

.content.dark {
  background-color: var(--color-black);
}

.content.form {
  max-width: 600px;
  max-height: 100%;
}

.content.video {
  max-width: 80%;
}

.content.message {
  max-width: 300px;
}

@media (width < 580px) {
  .content.video {
    max-width: 90%;
  }
}
