.button {
  position: relative;
  width: 120px;
  height: 180px;
  flex-shrink: 0;
}

.active::after {
  content: '';
  position: absolute;
  top: -6px;
  left: -6px;
  border: 2px solid var(--color-blue-primary);
  border-radius: 12px;
  width: calc(100% + 12px);
  height: calc(100% + 12px);
}

.button:disabled {
  cursor: default;
}
