.expandFilter {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.header {
  width: 100%;
}

.button {
  display: flex;
  justify-content: space-between;
  width: 100%;
  background-color: #f2f2f2;
  padding: 10px;
  border-radius: 5px;
}

.icon {
  width: 20px;
  height: 20px;
  transition: transform 0.3s ease;
}

.button .expanded {
  transform: rotate(-180deg);
}

.grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
  height: 250px;
  overflow-y: scroll;
  padding-right: 10px;
}