.data-viewer__legend {
  margin-bottom: 15px;
}

.data-viewer__wrapper {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.required {
  color: #E53935;
}

.required-partialy {
  color: #FF9800;
}

.property-types span {
  background-color: #f2f2f2;
  padding: 5px 20px;
  border-radius: 50px;
  min-width: 100px;
  text-align: center;
}

.property-types .array {
  color: #fff;
  background-color: #42A5F5;
}

.property-types .string {
  background-color: #FFF3E0;
}

.property-types .object {
  color: #fff;
  background-color: #4DB6AC;
}

.property-types .number {
  color: #fff;
  background-color: #9575CD;
}

@media (max-width: 435px) {
  .property-types {
    gap: 5px;
    font-size: 10px;
    margin-left: 0;
  }
}