.errorMessage {
  color: white;
  position: fixed;
  top: calc(var(--header-height) + 40px);
  left: 50%;
  transform: translateX(-50%);
  width: 250px;
  padding: 20px;
  background-color: var(--red-failure);
  border-radius: 6px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.closeErrorButton {
  position: absolute;
  right: 10px;
  top: 10px;
}
