.wrapper {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.link {
  font-size: 18px;
  padding: 20px;
  display: flex;
  align-items: center;
  gap: 10px;
  background: white;
  box-shadow:
    rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
    rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
  border-radius: 10px;
  transition: box-shadow 300ms;
}

.chevronIcon {
  margin-left: auto;
}

.link:hover {
  color: var(--blue-default);
  box-shadow:
    rgba(50, 50, 93, 0.25) 0px 13px 27px -5px,
    rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}
