.general_pages_menu {
  --cols: 3;
  display: grid;
  grid-template-columns: repeat(var(--cols), 1fr);
  gap: 20px;
}

.link {
  display: flex;
  align-items: center;
  gap: 8px;
  background-color: var(--white);
  padding: 20px;
  border-radius: var(--br-default);
  border: var(--b-default);
  transition: var(--t-timing);
}

.link:hover {
  border-color: var(--gray-dark);
  color: var(--blue-default);
}

.icon {
  display: flex;
  flex-shrink: 0;
}

.chevron_icon {
  margin-left: auto;
}

@media (width < 768px) {
  .general_pages_menu {
    --cols: 2;
  }
}

@media (width < 520px) {
  .general_pages_menu {
    --cols: 1;
  }
}
