.inputWrapper {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.textInput {
  width: 100%;
  padding: 10px;
  border-radius: var(--app-border-radius);
  border: var(--app-border);
  outline-color: var(--blue-default);
}

.passwordInput {
  padding-right: 50px;
}

.label {
  color: var(--gray-dark);
  font-size: 15px;
  font-weight: bold;
}

.textInput:focus > .label {
  color: var(--blue-default);
}

.fieldWrapper {
  position: relative;
}

.showPasswordButton {
  display: flex;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 15px;
}

.eyeIcon {
  transition: color 300ms;
}

.showPasswordButton:hover .eyeIcon {
  color: var(--blue-default);
}
