.film_link {
  display: flex;
  gap: 10px;
  border: 1px solid transparent;
  border-radius: var(--br-default);
  overflow: hidden;
}

.film_link:hover {
  border: var(--b-default);
}

.poster_wrapper {
  width: 48px;
  flex-shrink: 0;
}

.poster_image {
  border-radius: 4px;
}

.info_wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-width: 0;
}

.film_title {
  font-size: var(--fz-lg);
  font-weight: bold;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.genres_list {
  color: var(--gray);
  font-size: var(--fz-sm);
}

.release_date {
  color: var(--green);
  font-size: var(--fz-sm);
}
