:root {
  --main-color: #006db7;
  --main-color-rgb: 0, 109, 183;
  --green: #00B5C6;
  --light-yellow: #ffedd6;

  --main-gradient: linear-gradient(45deg, var(--main-color), var(--green));
  --app-border: 1px solid #ddd;
  --app-border-radius: 8px;

  --main-padding: 20px;
  --header-height: 60px;
  --app-height: 100vh;
}

@font-face {
  font-family: 'Roboto';
  src: url("./assets/fonts/Roboto-Regular.woff2");
  font-weight: normal;
}

@font-face {
  font-family: 'Roboto';
  src: url("./assets/fonts/Roboto-Bold.woff2");
  font-weight: bold;
}

*, ::before, ::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  overflow-y: scroll;
}

a {
  text-decoration: none;
  color: inherit;
  -webkit-tap-highlight-color: transparent;
}

li {
  list-style: none;
}

button {
  display: block;
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  border: none;
  background: none;
  cursor: pointer;
  outline: none;
  -webkit-tap-highlight-color: transparent;
}

input {
  color: inherit;
  font-size: inherit;
  font-family: inherit;
}

body {
  font-family: 'Roboto', sans-serif;
}
