:root {
  --base-color: #006db7;
  --green: #00B5C6;
  --light-blue: #0093CD;
  --base-color-rgb: 0, 109, 183;
  --light-yellow: #ffe6b3;
  --error-color: #ff5252;

  --main-gradient: linear-gradient(45deg, var(--base-color), var(--green));
  --app-border: 1px solid #ddd;

  --main-padding: 20px;
  --header-height: 60px;
  --app-height: calc(100vh - var(--header-height));
}
@font-face {
  font-family: 'Roboto';
  src: url("./assets/fonts/Roboto-Regular.woff2");
  font-weight: normal;
}
@font-face {
  font-family: 'Roboto';
  src: url("./assets/fonts/Roboto-Bold.woff2");
  font-weight: bold;
}
*, ::before, ::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
a {
  text-decoration: none;
  color: inherit;
  -webkit-tap-highlight-color: transparent;
}
li {
  list-style: none;
}
button {
  display: block;
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  border: none;
  background: none;
  cursor: pointer;
  outline: none;
  -webkit-tap-highlight-color: transparent;
}
input, select {
  color: inherit;
  font-size: inherit;
  font-family: inherit;
}
select, option {
  background-color: transparent;
}
body {
  font-family: 'Roboto', sans-serif;
}
.page-title span {
  color: var(--base-color)
}
.button {
  display: flex;
  gap: 5px;
  justify-content: center;
  align-items: center;
  color: #fff;
  background-color: var(--base-color);
  padding: 10px 20px;
  border-radius: 5px;
  transition: background-color 0.3s;
}
.button:hover {
  background-color: var(--green);
}
.button__icon {
  width: 20px;
  height: 20px;
}
@media (hover: hover) {
  .custom-scroll {
    scrollbar-color: var(--base-color) #dbdbdb;
  }
  .custom-scroll::-webkit-scrollbar {
    background-color: #fff;
    height: 15px;
    width: 8px;
    transition: 0.3s;
    border-radius: 50px;
  }
  .custom-scroll::-webkit-scrollbar-thumb {
    background-color: #fff;
    border-radius: 50px;
    transition: 0.3s;
  }
  .custom-scroll:hover::-webkit-scrollbar {
    background-color: #f2f2f2;
  }
  .custom-scroll-visible::-webkit-scrollbar {
    background-color: #f2f2f2;
  }
  .custom-scroll:hover::-webkit-scrollbar-thumb {
    background-image: var(--main-gradient);
  }
  .custom-scroll-visible::-webkit-scrollbar-thumb {
    background-image: var(--main-gradient);
  }
}
@media (hover: none) {
  .custom-scroll {
    scrollbar-width: none;
  }
  .custom-scroll::-webkit-scrollbar {
    display: none;
  }
}