.film_link {
  display: flex;
  gap: 10px;
  border: 1px solid transparent;
  overflow: hidden;
}

.poster_wrapper {
  display: flex;
  width: 48px;
  border-radius: 4px;
  overflow: hidden;
  flex-shrink: 0;
}

.info_wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-width: 0;
}

.film_title {
  font-size: var(--text-lg);
  font-weight: bold;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.film_link:hover .film_title {
  color: var(--color-blue-primary);
}

.genres_list {
  color: var(--color-gray-primary);
  font-size: var(--text-sm);
}

.release_date {
  font-size: var(--text-xs);
  margin-top: auto;
}
