.data_section {
  overflow: hidden;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  margin-bottom: 10px;
}

.title {
  font-size: var(--text-2xl);
  color: var(--color-blue-primary);
  font-family: 'Roboto-Condensed';
}
