.content {
  border-radius: 0 0 var(--rounded-default) var(--rounded-default);
  background-color: var(--color-white);
  border: var(--border-default);
  border-top: 0;
  overflow: hidden;
  position: relative;
}

@media (width < 1280px) {
  .content {
    border-radius: 0;
    border: 0;
  }
}
