.layout {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
  max-width: 500px;
  padding: 20px;
}

.title {
  font-size: 20px;
  font-weight: bold;
  border-bottom: var(--b-default);
  padding-bottom: 10px;
}

.details {
  color: var(--red-failure);
  font-size: 12px;
}
