.console_header {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  position: sticky;
  top: var(--header-height);
  background-color: var(--color-blue-invisible);
  z-index: 10;
}

.title_column {
  display: flex;
  gap: 10px;
  align-items: center;
}

.console_menu {
  display: flex;
  flex-direction: column;
  padding: 10px;
  gap: 10px;
  overflow-y: auto;
}

.console_link {
  color: var(--console-float-menu-color);
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 10px;
  border-radius: var(--rounded-default);
  border: 1px solid transparent;
  text-align: center;
  font-size: var(--text-base);
}

.console_link:hover {
  border-color: var(--console-float-menu-color);
  background-color: hsl(from var(--console-float-menu-color) h s l / 0.05);
}

@media (height < 800px) {
  .console_menu {
    max-height: 400px;
  }
}

@media (width <= 785px) {
  .console_menu {
    --console-menu-cols: 2;
    padding: 10px;
    gap: 10px;
  }

  .console_link {
    font-size: 12px;
  }
}
