.console_header {
  position: sticky;
  top: var(--header-height);
  display: flex;
  align-items: center;
  gap: 20px;
  padding: 0 20px;
  border-bottom: var(--border-default);
  background-color: white;
  height: 40px;
  z-index: 750;
}

.menu_button {
  display: flex;
}

.menu_icon {
  color: var(--color-blue-primary);
}

.menu_icon_collapsed {
  color: var(--color-black);
}

.console_header_title {
  font-size: 14px;
  color: var(--color-gray-dark);
  font-weight: bold;
  text-transform: uppercase;
}

.logout_button {
  margin-left: auto;
}

.logout_button:hover {
  color: var(--color-blue-primary);
}

.console_menu {
  display: flex;
  flex-direction: column;
  padding: 10px;
  gap: 10px;
}

.console_link {
  color: var(--console-float-menu-color);
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 10px;
  border-radius: var(--rounded-default);
  border: 1px solid transparent;
  text-align: center;
  font-size: var(--text-base);
}

.console_link:hover {
  border-color: var(--console-float-menu-color);
  background-color: hsl(from var(--console-float-menu-color) h s l / 0.05);
}

@media (max-width: 785px) {
  .console_header_title {
    font-size: 14px;
  }

  .console_menu {
    --console-menu-cols: 2;
    padding: 10px;
    gap: 10px;
  }

  .console_link {
    font-size: 12px;
  }
}
