.key-values {
  display: grid;
  grid-template-columns: 180px 1fr;
  align-items: center;
  padding: 15px 0;
  border-bottom: var(--app-border);
}

.key-values:last-child {
  border-bottom: 0;
}

.key-values-title {
  text-transform: uppercase;
  font-size: 14px;
}

.key-values-list {
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
}

.key-values-list a {
  color: var(--base-color);
  text-decoration: underline;
}

.key-values-list a::after {
  content: ',';
}

.key-values-list p:last-child a::after {
  content: '';
}