.films_not_found {
  color: #777;
  font-size: 18px;
  font-weight: bold;
  width: 100%;
  height: calc(100vh - var(--header-height) - (var(--pd-default) * 2));
  display: flex;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
  background-color: #f2f2f2;
  border-radius: var(--br-default);
}
