.wrapper:not(:last-child) {
  padding-bottom: 10px;
  border-bottom: var(--app-border);
}

.button {
  display: flex;
  justify-content: space-between;
  gap: 10px;
  align-items: center;
  width: 100%;
  padding: 10px 0;
}

.button:hover,
.buttonOpen {
  color: var(--main-color);
}

.expandIcon {
  transition: transform 0.3s;
}

.button:hover .expandIcon {
  color: var(--main-color);
}

.buttonOpen .expandIcon {
  color: var(--main-color);
  transform: rotate(180deg);
}

.body {
  line-height: 1.5;
}