.tabs {
  display: flex;
  gap: 10px;
  margin-bottom: 10px;
}

.tabButton {
  padding: 5px 15px;
  border-radius: var(--app-border-radius);
  border: var(--app-border);
  transition: background-color 0.3s, border 0.3s;
}

.tabButton:hover {
  background-color: var(--gray-light);
}

.activeTabButton,
.activeTabButton:hover {
  color: #fff;
  border-color: var(--blue-default);
  background-color: var(--blue-default);
}

.slider {
  display: flex;
  transition: transform 0.4s;
}