.wrapper {
  padding: 15px;
}

.content {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

@media (max-width: 480px) {
  .content {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(80px, 1fr));
  }
}
