.wrapper {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.rating {
  display: flex;
  flex-direction: row-reverse;
  justify-content: flex-end;
  align-items: center;
  gap: 5px;
}

.label {
  --icon-fill: transparent;

  color: var(--color-yellow-primary);
  cursor: pointer;
}

.star_icon {
  fill: var(--icon-fill);
}

.input {
  display: none;
}

.label:hover,
.label:hover ~ .label {
  --icon-fill: var(--color-yellow-light) !important;
}

.label:hover,
.label:has(.input:checked),
.label:has(.input:checked) ~ .label,
.label:not(:has(.input:checked)):hover ~ .label {
  --icon-fill: var(--color-yellow-primary);
}
