.filmLink {
  position: relative;
  display: block;
  width: 100%;
}
.cover {
  position: relative;
  width: 100%;
  aspect-ratio: 10 / 16;
  border-radius: var(--border-radius);
  overflow: hidden;
  background-color: #f2f2f2;
}
.cover img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.title {
  text-align: center;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  transition: color 0.3s;
  margin: 5px 0;
}
.filmLink:hover .title {
  color: var(--blue-default);
}
.year {
  text-align: center;
  font-size: 12px;
  color: #777;
}
.order {
  position: absolute;
  top: 5px;
  left: -15px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50px;
  background-color: var(--yellow-sand);
  z-index: 10;
  width: 30px;
  height: 30px;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5);
}
