.crewItem {
  display: flex;
  padding: 20px;
  border-bottom: var(--app-border);
}

.crewItem:last-child {
  border-bottom: 0;
}

.crewItemTitle {
  font-size: 14px;
  font-weight: normal;
  line-height: 1;
  text-transform: uppercase;
  width: 120px;
  flex-shrink: 0;
}

.list {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
}

.list a {
  color: var(--blue-default);
  text-decoration: underline;
  transition: color 0.3s;
}

.list a:hover {
  color: var(--green);
}

.personLink {
  line-height: 1;
}

.person {
  display: flex;
  align-items: center;
  gap: 5px;
}

.comment {
  color: #777;
  font-size: 14px;
}

@media (max-width: 540px) {
  .crewItem {
    flex-direction: column;
    gap: 8px;
    align-items: flex-start;
    padding: 15px;
  }

  .crewItemTitle {
    font-size: 12px;
  }

  .personLink {
    font-size: 14px;
  }
}
