name: Weekly DB Backup to S3

on:
  workflow_dispatch:
  schedule:
    - cron: "0 18 * * 0" # Sunday 18:00 UTC

jobs:
  backup:
    runs-on: ubuntu-latest

    steps:
      - name: Install PostgreSQL 17 Client
        run: |
          sudo apt install -y curl ca-certificates
          sudo install -d /usr/share/postgresql-common/pgdg
          sudo curl -o /usr/share/postgresql-common/pgdg/apt.postgresql.org.asc --fail https://www.postgresql.org/media/keys/ACCC4CF8.asc
          
          sudo sh -c 'echo "deb [signed-by=/usr/share/postgresql-common/pgdg/apt.postgresql.org.asc] https://apt.postgresql.org/pub/repos/apt $(lsb_release -cs)-pgdg main" > /etc/apt/sources.list.d/pgdg.list'
          
          sudo apt update
          sudo apt install -y postgresql-client-17

      - name: Create backup
        run: |
          TIMESTAMP=$(date +%Y-%m-%d_%H-%M-%S)
          BACKUP_FILE="backup_$TIMESTAMP.sql"

          /usr/lib/postgresql/17/bin/pg_dump "${{ secrets.DB_CONNECTION_STR }}" -F p > $BACKUP_FILE

          gzip $BACKUP_FILE
          echo "BACKUP_FILE=$BACKUP_FILE.gz" >> $GITHUB_ENV

      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@v4
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: eu-central-1

      - name: Upload new backup to S3
        run: |
          aws s3 cp "$BACKUP_FILE" \
            "s3://films-collection-backups/database-backups/$BACKUP_FILE"

      - name: Remove old backups from S3
        run: |
          BUCKET=films-collection-backups
          PREFIX="database-backups/"

          aws s3api list-objects-v2 \
            --bucket "$BUCKET" \
            --prefix "$PREFIX" \
            --query 'Contents[].Key' \
            --output text > all_files.txt

          while read -r FILE; do
            if [ "$FILE" != "$PREFIX$BACKUP_FILE" ]; then
              echo "Deleting old backup: $FILE"
              aws s3 rm "s3://$BUCKET/$FILE"
            fi
          done < all_files.txt
