.tabs {
  display: flex;
  padding: 0 20px;
  gap: 20px;
}

.tab_link {
  font-size: 14px;
  color: var(--color-gray-dark);
  text-transform: uppercase;
  padding: 10px 20px;
  border: var(--border-default);
  border-radius: var(--rounded-default);
  background-color: var(--color-white);
  transition: border-color 300ms;
}

.tab_link:hover {
  color: var(--color-black);
  border-color: var(--color-black);
}

.tab_link_active {
  color: var(--color-white);
  font-weight: bold;
  background-color: var(--color-blue-primary);
  border-color: var(--color-blue-primary);
}

.tab_link_active:hover {
  color: var(--color-white);
}
