.addFilmLink {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  color: white;
  background-color: var(--blue-default);
  width: 100%;
  padding: 10px;
  font-size: 14px;
  font-weight: bold;
  text-transform: uppercase;
  border-radius: var(--app-border-radius);
  transition: background-color 300ms;
}

.addFilmLink:hover {
  background-color: var(--green);
}
