.video {
  width: 100%;
  height: 100%;
  background-color: #000;
  cursor: pointer;
  overflow: hidden;
  border-radius: 4px;
}

.video iframe {
  border: none;
  width: 100%;
  height: 100%;
}

.fullSizeVideo iframe {
  aspect-ratio: 16 / 9;
}

@media (max-width: 780px) {
  .video iframe {
    aspect-ratio: 16 / 9;
  }

  .video:not(.fullSizeVideo) {
    border-radius: 4px 4px 0 0;
  }
}

@media (max-width: 580px) {
  .video {
    border-radius: 0;
  }
}
