.row {
  display: grid;
  grid-template-columns: 1fr 2fr;
}

.award {
  display: flex;
  align-items: center;
  gap: 5px;
}

.awardImage {
  width: 60px;
  height: 60px;
}

.title:hover {
  color: var(--blue-default);
}

.nominations {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

@media (max-width: 480px) {
  .row {
    grid-template-columns: 1fr;
  }

  .award {
    margin-bottom: 10px;
  }
}
