.wrapper {
  border: var(--app-border);
  border-radius: 8px;
}

.row {
  display: grid;
  grid-template-columns: 1fr 2fr;
  border-bottom: var(--app-border);
  padding: 20px;
  transition: background-color 300ms;
}

.row:last-child {
  border-bottom: 0;
}

.row:hover {
  background-color: var(--gray-extra-light);
}

.title:hover {
  color: var(--blue-default);
}

.nominations {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

@media (max-width: 480px) {
  .row {
    grid-template-columns: 1fr;
    padding: 15px;
  }

  .award {
    margin-bottom: 10px;
  }
}
