.menu {
  display: flex;
  align-items: center;
  gap: 15px;
  flex-wrap: wrap;
  margin-bottom: 10px;
  background-color: white;
  padding: 10px;
  border: var(--b-default);
  border-radous: var(--br-default);
}
