.formCheckbox {
  display: flex;
  align-items: center;
  gap: 10px;
  cursor: pointer;
}
.formCheckbox input {
  display: none;
}
.iconWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #c6c6c6;
  width: 22px;
  height: 22px;
  padding: 3px;
}
.icon {
  display: none;
}
.formCheckbox input[type="checkbox"] + .iconWrapper {
  border-radius: 3px;
}
.formCheckbox input[type="radio"] + .iconWrapper {
  border-radius: 50px;
}
.formCheckbox input:checked + .iconWrapper {
  background-image: var(--main-gradient);
  border-color: var(--blue-default);
}
.formCheckbox input:checked + .iconWrapper .icon {
  display: block;
  color: #fff;
}
.title {
  font-size: 14px;
  user-select: none;
}
.formCheckbox:hover .title {
  color: var(--blue-default);
}